Repository pagesource/atomic-react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

.lintstagedrc:

{
  "*.{js,json,css,md}":[
    "prettier --write",
    "git add",
  ],
  "*.css": [
    "yarn run lint:css:fix",
  ],
  "*.js": [
    "yarn run lint:css:fix",
    "yarn run lint:js:fix"
  ],
  "*.test.js": [
    "yarn run test",
  ],
}

Accordion changes
  lib/components/molecules/Accordion/tests/__snapshots__/Accordion.test.js.snap
Due: none

Remaining review comments implemented
  lib/components/molecules/StickyHeader/StickyHeader.js
  lib/components/molecules/StickyHeader/StickyHeader.mock.js
  lib/components/molecules/StickyHeader/StickyHeader.story.js
  lib/components/molecules/StickyHeader/StickyHeader.style.js
  lib/components/molecules/StickyHeader/tests/StickyHeader.test.js
  lib/components/molecules/StickyHeader/tests/__snapshots__/StickyHeader.test.js.snap
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

Accordion changes
  lib/components/molecules/Accordion/Accordion.js
  lib/components/molecules/Accordion/tests/__snapshots__/Accordion.test.js.snap
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

Review comments fixed
  lib/components/molecules/StickyHeader/StickyHeader.js
  lib/hooks/useScroll.js
  lib/index.js
  utils/util.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

Toast-Icon-Component-Dependency-Resolved
  lib/components/atoms/Button/tests/__snapshots__/Button.style.test.js.snap
  lib/components/atoms/Input/tests/__snapshots__/Input.style.test.js.snap
  lib/components/atoms/Select/tests/__snapshots__/Select.style.test.js.snap
  lib/components/atoms/Textarea/tests/__snapshots__/Textarea.style.test.js.snap
  lib/components/molecules/Toast/Toast.js
  lib/components/molecules/Toast/Toast.story.js
  lib/components/molecules/Toast/Toast.style.js
  lib/components/molecules/Toast/tests/Toast.test.js
  lib/styles/themes/base/def/icons.js
  lib/styles/themes/base/icons/close.svg
  lib/styles/themes/base/icons/error.svg
  lib/styles/themes/base/icons/info.svg
  lib/styles/themes/base/icons/success.svg
  lib/styles/themes/base/icons/warning.svg
  yarn.lock
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

First commit
  lib/components/molecules/Pagination/Pagination.js
  lib/components/molecules/Pagination/Pagination.mock.js
  lib/components/molecules/Pagination/Pagination.story.js
  lib/components/molecules/Pagination/Pagination.style.js
  lib/components/molecules/Pagination/index.js
  lib/components/molecules/Pagination/tests/Pagination.test.js
  lib/components/molecules/Pagination/types/index.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

Pagination component satisfying two of problems: 1. I can use it with a table & list and any other markup 2. Managed area with render props:
  lib/components/molecules/Pagination/Pagination.js
  lib/components/molecules/Pagination/Pagination.story.js
  package-lock.json
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

modified pagination
  lib/components/molecules/Pagination/Pagination.js
  lib/components/molecules/Pagination/Pagination.style.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

added test cases
  .jest-test-results.json
  lib/components/molecules/Pagination/Pagination.js
  lib/components/molecules/Pagination/tests/Pagination.test.js
  lib/components/molecules/Pagination/tests/__snapshots__/Pagination.test.js.snap
  lib/components/molecules/Pagination/types/index.js
  yarn.lock
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

Cookie Disclaimer (WIP): Styled Components Checked in
  lib/components/atoms/Button/tests/__snapshots__/Button.style.test.js.snap
  lib/components/atoms/Input/tests/__snapshots__/Input.style.test.js.snap
  lib/components/atoms/Select/tests/__snapshots__/Select.style.test.js.snap
  lib/components/atoms/Textarea/tests/__snapshots__/Textarea.style.test.js.snap
  lib/components/molecules/CookieDisclaimer/CookieDisclaimer.js
  lib/components/molecules/CookieDisclaimer/CookieDisclaimer.mock.js
  lib/components/molecules/CookieDisclaimer/CookieDisclaimer.story.js
  lib/components/molecules/CookieDisclaimer/CookieDisclaimer.style.js
  lib/components/molecules/CookieDisclaimer/tests/CookieDisclaimer.test.js
  lib/components/molecules/CookieDisclaimer/tests/__snapshots__/CookieDisclaimer.test.js.snap
  lib/components/molecules/CookieDisclaimer/types/index.js
  lib/hooks/useCookieDrop.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

jest test result
  .jest-test-results.json
Due: prettier --write

fixed some issues
  .jest-test-results.json
  lib/components/molecules/Pagination/Pagination.js
  lib/components/molecules/Pagination/Pagination.mock.js
  lib/components/molecules/Pagination/Pagination.story.js
  lib/components/molecules/Pagination/Pagination.style.js
  lib/components/molecules/Pagination/PaginationList.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

Accordion changes
  lib/components/molecules/Accordion/Accordion.js
  lib/components/molecules/Accordion/tests/__snapshots__/Accordion.test.js.snap
  lib/components/molecules/Accordion/types/index.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

Skeleton initial commit'
  lib/components/molecules/Skeleton/Skeleton.js
  lib/components/molecules/Skeleton/Skeleton.mock.js
  lib/components/molecules/Skeleton/Skeleton.story.js
  lib/components/molecules/Skeleton/Skeleton.style.js
  lib/components/molecules/Skeleton/index.js
  lib/components/molecules/Skeleton/tests/Skeleton.test.js
  lib/components/molecules/Skeleton/tests/__snapshots__/Skeleton.test.js.snap
  lib/components/molecules/Skeleton/types/index.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

removed unused code
  .jest-test-results.json
  lib/components/molecules/Pagination/Pagination.js
  lib/components/molecules/Pagination/Pagination.story.js
  lib/components/molecules/Pagination/PaginationList.js
  lib/components/molecules/Pagination/tests/Pagination.test.js
  lib/components/molecules/Pagination/tests/__snapshots__/Pagination.test.js.snap
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

work started on new branch
  lib/components/molecules/Search/Search.story.js
  lib/components/molecules/Search/SearchList/SearchList.story.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

Skeleton changes
  lib/components/molecules/Skeleton/Skeleton.js
  lib/components/molecules/Skeleton/Skeleton.mock.js
  lib/components/molecules/Skeleton/Skeleton.story.js
  lib/components/molecules/Skeleton/Skeleton.style.js
  lib/components/molecules/Skeleton/types/index.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

Skeleton changes
  lib/components/molecules/Skeleton/tests/Skeleton.test.js
  lib/components/molecules/Skeleton/tests/__snapshots__/Skeleton.test.js.snap
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

Hero Banner Component
  lib/components/molecules/HeroBanner/HeroBanner.js
  lib/components/molecules/HeroBanner/HeroBanner.mock.js
  lib/components/molecules/HeroBanner/HeroBanner.story.js
  lib/components/molecules/HeroBanner/HeroBanner.style.js
  lib/components/molecules/HeroBanner/tests/HeroBanner.test.js
  lib/components/molecules/HeroBanner/tests/__snapshots__/HeroBanner.test.js.snap
  lib/components/molecules/HeroBanner/types/index.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

Skeleton changes
  lib/components/molecules/Skeleton/Skeleton.js
  lib/components/molecules/Skeleton/Skeleton.mock.js
  lib/components/molecules/Skeleton/Skeleton.story.js
  lib/components/molecules/Skeleton/Skeleton.style.js
  lib/components/molecules/Skeleton/tests/__snapshots__/Skeleton.test.js.snap
  lib/components/molecules/Skeleton/types/index.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

Implementation has been done
  lib/components/molecules/Search/Search.js
  lib/components/molecules/Search/Search.mock.js
  lib/components/molecules/Search/Search.style.js
  lib/components/molecules/Typeahead/Typeahead.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

Fixed review Comments on Hero Banner
  .jest-test-results.json
  lib/components/atoms/Button/tests/__snapshots__/Button.style.test.js.snap
  lib/components/atoms/Input/tests/__snapshots__/Input.style.test.js.snap
  lib/components/atoms/Select/tests/__snapshots__/Select.style.test.js.snap
  lib/components/atoms/Textarea/tests/__snapshots__/Textarea.style.test.js.snap
  lib/components/molecules/HeroBanner/HeroBanner.js
  lib/components/molecules/HeroBanner/HeroBanner.mock.js
  lib/components/molecules/HeroBanner/HeroBanner.story.js
  lib/components/molecules/HeroBanner/HeroBanner.style.js
  lib/components/molecules/HeroBanner/tests/HeroBanner.test.js
  lib/components/molecules/HeroBanner/tests/__snapshots__/HeroBanner.test.js.snap
  lib/components/molecules/HeroBanner/types/index.js
  lib/styles/themes/base/def/colors.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

Skeleton review comments incorporated
  lib/components/molecules/Skeleton/Skeleton.js
  lib/components/molecules/Skeleton/Skeleton.story.js
  lib/components/molecules/Skeleton/Skeleton.style.js
  lib/components/molecules/Skeleton/tests/Skeleton.test.js
  lib/components/molecules/Skeleton/tests/__snapshots__/Skeleton.test.js.snap
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

incorporated review comments
  lib/components/molecules/Pagination/Pagination.js
  lib/components/molecules/Pagination/PaginationList.js
  yarn.lock
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

correction in aria also removed extra codes
  lib/components/molecules/Pagination/Pagination.js
  lib/components/molecules/Pagination/Pagination.story.js
  lib/components/molecules/Pagination/PaginationList.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

Exported the components out of Library
  lib/index.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

Updated the snapshots
  .jest-test-results.json
  lib/components/molecules/Pagination/tests/__snapshots__/Pagination.test.js.snap
Due: prettier --write

Accordion changes
  lib/components/molecules/Accordion/Accordion.js
  lib/components/molecules/Accordion/Accordion.mock.js
  lib/components/molecules/Accordion/Accordion.story.js
  lib/components/molecules/Accordion/tests/Accordion.test.js
  lib/components/molecules/Accordion/tests/__snapshots__/Accordion.test.js.snap
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

Accordion
  lib/components/molecules/Accordion/Accordion.js
  lib/components/molecules/Accordion/tests/Accordion.test.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

fixed linting issue
  lib/components/molecules/Search/Search.js
  lib/components/molecules/Search/Search.mock.js
  lib/components/molecules/Search/Search.style.js
  lib/components/molecules/Typeahead/Typeahead.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

fixed linting issue & working on css (flex)
  lib/components/molecules/Search/Search.js
  lib/components/molecules/Typeahead/Typeahead.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

Exported the components out of Library, Fixed labels, types and Typos
  .jest-test-results.json
  lib/components/molecules/Accordion/Accordion.js
  lib/components/molecules/Accordion/tests/__snapshots__/Accordion.test.js.snap
  lib/components/molecules/Accordion/types/index.js
  lib/index.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

Fixed Storybook Hiererchy
  lib/components/molecules/Accordion/Accordion.story.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

Implemented Carousel
  .jest-test-results.json
  config/dist.webpack.config.js
  lib/components/atoms/Button/Button.style.js
  lib/components/atoms/Button/tests/__snapshots__/Button.style.test.js.snap
  lib/components/atoms/Input/tests/__snapshots__/Input.style.test.js.snap
  lib/components/atoms/Select/tests/__snapshots__/Select.style.test.js.snap
  lib/components/atoms/Textarea/tests/__snapshots__/Textarea.style.test.js.snap
  lib/components/molecules/Carousel/Carousel.js
  lib/components/molecules/Carousel/Carousel.mock.js
  lib/components/molecules/Carousel/Carousel.story.js
  lib/components/molecules/Carousel/Carousel.style.js
  lib/components/molecules/Carousel/index.js
  lib/components/molecules/Carousel/tests/Carousel.test.js
  lib/components/molecules/Carousel/tests/__snapshots__/Carousel.test.js.snap
  lib/components/molecules/Carousel/types/index.js
  lib/hooks/SetInterval/useSetInterval.hook.js
  lib/index.js
  lib/styles/themes/base/def/icons.js
  lib/styles/themes/base/icons/left-arrow.svg
  lib/styles/themes/base/icons/pause.svg
  lib/styles/themes/base/icons/play.svg
  lib/styles/themes/base/icons/right-arrow.svg
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

Skeleton changes
  lib/components/molecules/Skeleton/Skeleton.mock.js
  lib/components/molecules/Skeleton/Skeleton.story.js
  lib/components/molecules/Skeleton/Skeleton.style.js
  lib/components/molecules/Skeleton/tests/__snapshots__/Skeleton.test.js.snap
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

Skeleton changes
  lib/components/molecules/Skeleton/Skeleton.mock.js
  lib/components/molecules/Skeleton/Skeleton.story.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

ProgressIndicator Component Review Required
  .jest-test-results.json
  lib/components/molecules/ProgressIndicator/ProgressIndicator.js
  lib/components/molecules/ProgressIndicator/ProgressIndicator.mock.js
  lib/components/molecules/ProgressIndicator/ProgressIndicator.story.js
  lib/components/molecules/ProgressIndicator/ProgressIndicator.style.js
  lib/components/molecules/ProgressIndicator/index.js
  lib/components/molecules/ProgressIndicator/tests/ProgressIndicator.test.js
  lib/components/molecules/ProgressIndicator/tests/__snapshots__/ProgressIndicator.test.js.snap
  lib/components/molecules/ProgressIndicator/types/index.js
  package.json
  stylelint.config.js
  yarn.lock
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

Chart Component
  lib/components/molecules/Chart/Chart.js
  lib/components/molecules/Chart/Chart.mock.js
  lib/components/molecules/Chart/Chart.story.js
  lib/components/molecules/Chart/Chart.style.js
  lib/components/molecules/Chart/index.js
  lib/components/molecules/Chart/types/index.js
  package.json
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

issue-111 | With Scripts hoc created
  lib/components/hoc/.gitkeep
  lib/components/hoc/WithScripts/WithScripts.js
  lib/components/hoc/WithScripts/WithScripts.mock.js
  lib/components/hoc/WithScripts/WithScripts.story.js
  lib/components/hoc/WithScripts/index.js
  lib/components/hoc/WithScripts/tests/WithScripts.test.js
  lib/components/hoc/WithScripts/types/index.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

issue-111 | With Scripts hoc created
  lib/components/hoc/WithScripts/WithScripts.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix
