Repository pagesource/atomic-react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

File-Upload: Review comments implementation.
  lib/components/atoms/FileInput/FileInput.js
  lib/components/atoms/FileInput/FileInput.mock.js
  lib/components/atoms/FileInput/FileInput.story.js
  lib/components/atoms/FileInput/FileInput.style.js
  lib/components/atoms/FileInput/index.js
  lib/components/atoms/FileInput/tests/FileInput.test.js
  lib/components/atoms/FileInput/tests/__snapshots__/FileInput.test.js.snap
  lib/components/atoms/Input/Input.js
  lib/components/atoms/Input/Input.mock.js
  lib/components/atoms/Input/Input.story.js
  lib/components/atoms/Input/tests/Input.test.js
  lib/components/molecules/Form/DDFileInput/DDFileInput.js
  lib/components/molecules/Form/FieldFileInput/FieldFileInput.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

File-Upload: Review comments implementation.
  lib/components/atoms/Input/Input.js
  lib/components/atoms/Input/tests/Input.test.js
  lib/components/molecules/Form/DDFileInput/DDFileInput.js
  lib/components/molecules/Form/DDFileInput/index.js
  lib/components/molecules/Form/DragDropInput/DragDropInput.js
  lib/components/molecules/Form/DragDropInput/DragDropInput.style.js
  lib/components/molecules/Form/DragDropInput/index.js
  lib/components/molecules/Form/DragDropInput/tests/DragDropInput.test.js
  lib/components/molecules/Form/DragDropInput/tests/__snapshots__/DragDropInput.test.js.snap
  lib/components/molecules/Form/Form.js
  lib/hooks/file-upload/useDragandDrop.js
  lib/hooks/file-upload/useOpenFileDialog.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

File-Upload: Review comments implementation.
  lib/components/molecules/Form/DragDropInput/DragDropInput.js
  lib/components/molecules/Form/DragDropInput/tests/DragDropInput.test.js
  lib/components/molecules/Form/DragDropInput/types/index.js
  lib/components/molecules/Form/FieldFileInput/FieldFileInput.js
  lib/components/molecules/Form/FieldFileInput/types/index.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

ToggleComponent
  lib/components/molecules/Form/FieldToggle/FieldToggle.js
  lib/components/molecules/Form/FieldToggle/FieldToggle.style.js
  lib/components/molecules/Form/FieldToggle/tests/FieldToggle.test.js
  lib/components/molecules/Form/FieldToggle/tests/__snapshots__/FieldToggle.test.js.snap
  lib/components/molecules/Form/FieldToggle/types/index.js
  lib/components/molecules/Form/Form.mock.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

Toast-Component-New
  lib/components/molecules/Toast/Toast.js
  lib/components/molecules/Toast/Toast.mock.js
  lib/components/molecules/Toast/Toast.story.js
  lib/components/molecules/Toast/Toast.style.js
  lib/components/molecules/Toast/index.js
  lib/components/molecules/Toast/tests/Toast.test.js
  lib/components/molecules/Toast/tests/__snapshots__/Toast.test.js.snap
  lib/components/molecules/Toast/types/index.js
  lib/static/images/close-black.svg
  lib/static/images/close.svg
  lib/static/images/cursor.svg
  lib/static/images/error.svg
  lib/static/images/info.svg
  lib/static/images/success.svg
  lib/static/images/warning.svg
  lib/styles/themes/base/def/animations.js
  lib/styles/themes/base/def/colors.js
  lib/styles/themes/base/def/typography.js
  lib/styles/themes/base/tokens/animations.css
  lib/styles/themes/base/tokens/colors.css
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

style changes
  lib/components/molecules/Toast/Toast.style.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

style changes
  lib/components/molecules/Toast/Toast.story.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

test snapshot updated
  lib/components/molecules/Toast/tests/__snapshots__/Toast.test.js.snap
Due: none

Fixed Storybook Configs
  .storybook/addons.js
  .storybook/config.js
  package.json
  yarn.lock
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

Fixed Storybook Configs
  package.json
Due: prettier --write

File-Upload: Review comments implementation.
  lib/components/molecules/Form/DragDropInput/DragDropInput.js
  lib/components/molecules/Form/DragDropInput/tests/DragDropInput.test.js
  lib/components/molecules/Form/DragDropInput/types/index.js
  lib/components/molecules/Form/FieldFileInput/FieldFileInput.js
  lib/components/molecules/Form/FieldFileInput/tests/FieldFileInput.test.js
  lib/components/molecules/Form/FieldFileInput/tests/__snapshots__/FieldFileInput.test.js.snap
  lib/components/molecules/Form/FieldFileInput/types/index.js
  lib/components/molecules/Form/Form.mock.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

File-Upload: Review comments implementation.
  lib/components/molecules/Form/DragDropInput/tests/DragDropInput.test.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

Accordion changes
  lib/components/molecules/Accordion/Accordion.js
  lib/components/molecules/Accordion/Accordion.mock.js
  lib/components/molecules/Accordion/Accordion.story.js
  lib/components/molecules/Accordion/Accordion.style.js
  lib/components/molecules/Accordion/AccordionHeader/AccordionHeader.js
  lib/components/molecules/Accordion/AccordionHeader/AccordionHeader.mock.js
  lib/components/molecules/Accordion/AccordionHeader/AccordionHeader.style.js
  lib/components/molecules/Accordion/AccordionHeader/index.js
  lib/components/molecules/Accordion/AccordionHeader/tests/AccordionHeader.test.js
  lib/components/molecules/Accordion/AccordionHeader/tests/__snapshots__/AccordionHeader.test.js.snap
  lib/components/molecules/Accordion/AccordionHeader/types/index.js
  lib/components/molecules/Accordion/AccordionPanel/AccordionPanel.js
  lib/components/molecules/Accordion/AccordionPanel/AccordionPanel.mock.js
  lib/components/molecules/Accordion/AccordionPanel/AccordionPanel.style.js
  lib/components/molecules/Accordion/AccordionPanel/index.js
  lib/components/molecules/Accordion/AccordionPanel/tests/AccordionPanel.test.js
  lib/components/molecules/Accordion/AccordionPanel/tests/__snapshots__/AccordionPanel.test.js.snap
  lib/components/molecules/Accordion/AccordionPanel/types/index.js
  lib/components/molecules/Accordion/tests/Accordion.test.js
  lib/components/molecules/Accordion/tests/__snapshots__/Accordion.test.js.snap
  lib/components/molecules/Accordion/types/index.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

Accordion changes
  lib/components/molecules/Accordion/Accordion.js
  lib/components/molecules/Accordion/Accordion.story.js
  lib/components/molecules/Accordion/tests/Accordion.test.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

Accordion fixes
  lib/components/molecules/Accordion/tests/__snapshots__/Accordion.test.js.snap
Due: none

Accordion fixes
  lib/components/molecules/Accordion/Accordion.style.js
  lib/components/molecules/Accordion/tests/__snapshots__/Accordion.test.js.snap
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

review fixes accessability and stroybook
  .jest-test-results.json
  lib/components/molecules/StickyBar/StickyBar.js
  lib/components/molecules/StickyBar/StickyBar.mock.js
  lib/components/molecules/StickyBar/StickyBar.story.js
  lib/components/molecules/StickyBar/StickyBar.style.js
  lib/components/molecules/StickyBar/tests/__snapshots__/StickyBar.test.js.snap
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

Review-comments Incorporated
  .jest-test-results.json
  lib/components/molecules/Toast/Toast.js
  lib/components/molecules/Toast/Toast.mock.js
  lib/components/molecules/Toast/Toast.style.js
  lib/components/molecules/Toast/tests/Toast.test.js
  lib/components/molecules/Toast/tests/__snapshots__/Toast.test.js.snap
  lib/components/molecules/Toast/types/index.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

Review-Comments Incorporated
  lib/components/molecules/Toast/Toast.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

incorporated review comments
  lib/components/atoms/Button/Button.js
  lib/components/atoms/Button/Button.style.js
  lib/components/atoms/Button/tests/__snapshots__/Button.style.test.js.snap
  lib/components/molecules/Typeahead/ListItem.js
  lib/components/molecules/Typeahead/Typeahead.js
  lib/components/molecules/Typeahead/Typeahead.story.js
  lib/components/molecules/Typeahead/Typeahead.style.js
  lib/components/molecules/Typeahead/constants.js
  lib/components/molecules/Typeahead/tests/Typeahead.test.js
  lib/components/molecules/Typeahead/tests/__snapshots__/Typeahead.test.js.snap
  lib/components/molecules/Typeahead/types/index.js
  lib/styles/themes/base/def/colors.js
  lib/styles/themes/base/tokens/colors.css
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

Review-comments Incorporated Final
  stylelint.config.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

Review-comments Incorporated Final
  lib/components/molecules/Toast/Toast.story.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

ToggleComponent
  lib/components/molecules/Form/FieldToggle/FieldToggle.js
  lib/components/molecules/Form/FieldToggle/tests/__snapshots__/FieldToggle.test.js.snap
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

component changes
  .jest-test-results.json
  lib/components/molecules/Table/Table.js
  lib/components/molecules/Table/Table.story.js
  lib/components/molecules/Table/tests/__snapshots__/Table.test.js.snap
  lib/components/molecules/Table/types/index.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

incorporated review comments
  lib/components/molecules/Typeahead/Typeahead.js
  lib/components/molecules/Typeahead/Typeahead.story.js
  lib/components/molecules/Typeahead/tests/__snapshots__/Typeahead.test.js.snap
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

incorporated review comments
  lib/components/molecules/Typeahead/ListItem.js
  lib/components/molecules/Typeahead/Typeahead.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

incorporated review comments
  lib/components/atoms/Button/Button.style.js
  lib/components/atoms/Button/tests/__snapshots__/Button.style.test.js.snap
  lib/components/molecules/Typeahead/ListItem.js
  lib/components/molecules/Typeahead/Typeahead.js
  lib/components/molecules/Typeahead/Typeahead.style.js
  lib/components/molecules/Typeahead/tests/__snapshots__/Typeahead.test.js.snap
  lib/styles/themes/base/def/border.js
  lib/styles/themes/base/def/colors.js
  lib/styles/themes/base/tokens/colors.css
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

update table component using childrn
  .jest-test-results.json
  lib/components/molecules/Table/Table.js
  lib/components/molecules/Table/Table.story.js
  lib/components/molecules/Table/tests/Table.test.js
  lib/components/molecules/Table/tests/__snapshots__/Table.test.js.snap
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

ToggleComponent
  lib/components/molecules/Form/FieldToggle/FieldToggle.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

ToggleComponent
  lib/components/molecules/FieldToggle/FieldToggle.js
  lib/components/molecules/FieldToggle/FieldToggle.mock.js
  lib/components/molecules/FieldToggle/FieldToggle.story.js
  lib/components/molecules/FieldToggle/FieldToggle.style.js
  lib/components/molecules/FieldToggle/index.js
  lib/components/molecules/FieldToggle/tests/FieldToggle.test.js
  lib/components/molecules/FieldToggle/tests/__snapshots__/FieldToggle.test.js.snap
  lib/components/molecules/FieldToggle/types/index.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

fix test case
  .jest-test-results.json
  lib/components/atoms/Track/types/index.js
  lib/components/atoms/Video/Video.js
  lib/components/atoms/Video/Video.mock.js
  lib/components/atoms/Video/Video.story.js
  lib/components/atoms/Video/Video.style.js
  lib/components/atoms/Video/tests/Video.test.js
  lib/components/atoms/Video/tests/__snapshots__/Video.test.js.snap
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

fix test case
  lib/components/atoms/Track/Track.story.js
  lib/components/atoms/Video/Video.story.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

fix test case
  lib/components/atoms/Video/Video.js
  lib/components/atoms/Video/Video.story.js
  lib/components/atoms/Video/Video.style.js
  lib/components/atoms/Video/tests/Video.test.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

fix test case
  lib/components/atoms/Video/tests/Video.test.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

Review-Comments Implemented
  lib/components/molecules/Toast/Toast.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

Worked on Review Comments
  lib/components/atoms/Blockquote/Blockquote.mock.js
  lib/components/atoms/Blockquote/tests/__snapshots__/Blockquote.test.js.snap
  lib/components/molecules/Blockquote/Blockquote.js
  lib/components/molecules/Blockquote/Blockquote.mock.js
  lib/components/molecules/Blockquote/Blockquote.story.js
  lib/components/molecules/Blockquote/Blockquote.style.js
  lib/components/molecules/Blockquote/index.js
  lib/components/molecules/Blockquote/tests/Blockquote.test.js
  lib/components/molecules/Blockquote/tests/__snapshots__/Blockquote.test.js.snap
  lib/components/molecules/Blockquote/types/index.js
  lib/components/molecules/QuoteMedia/QuoteMedia.js
  lib/components/molecules/QuoteMedia/QuoteMedia.mock.js
  lib/components/molecules/QuoteMedia/QuoteMedia.story.js
  lib/components/molecules/QuoteMedia/QuoteMedia.style.js
  lib/components/molecules/QuoteMedia/tests/QuoteMedia.test.js
  lib/components/molecules/QuoteMedia/tests/__snapshots__/QuoteMedia.test.js.snap
  lib/components/molecules/QuoteMedia/types/index.js
  lib/index.js
  package.json
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

docs/(jira-1234): Add new Component names in readme
  README.md
Due: prettier --write

working on hook test cases
  lib/components/molecules/Search/Search.js
  lib/core/hooks/speechRecognition/tests/useSpeechRecognition.mock.js
  lib/core/hooks/speechRecognition/tests/useSpeechRecognition.test.js
  lib/core/hooks/speechRecognition/useSpeechRecognition.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

Initial Commit.
  .jest-test-results.json
  lib/components/molecules/CookieDisclaimer/CookieDisclaimer.js
  lib/components/molecules/CookieDisclaimer/CookieDisclaimer.mock.js
  lib/components/molecules/CookieDisclaimer/CookieDisclaimer.story.js
  lib/components/molecules/CookieDisclaimer/CookieDisclaimer.style.js
  lib/components/molecules/CookieDisclaimer/index.js
  lib/components/molecules/CookieDisclaimer/tests/CookieDisclaimer.test.js
  lib/components/molecules/CookieDisclaimer/types/index.js
  yarn.lock
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

Added Docs
  README.md
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,json,css,md}
  yarn run lint:css:fix: (any of: *.css) or (any of: *.js)
  yarn run lint:js:fix: any of: *.js
  yarn run test: any of: *.test.js
