Repository pagesource/atomic-react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

Compounded Track component instance on Video for easy export of both
  lib/components/atoms/Video/Video.js
  lib/components/atoms/Video/Video.story.js
  lib/components/atoms/Video/tests/Video.test.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

Exported Inputs
  lib/index.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

change children.map
  .jest-test-results.json
  lib/components/molecules/Table/Table.js
  lib/components/molecules/Table/tests/__snapshots__/Table.test.js.snap
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

Accordion - Storybook changes done, test cases added, accessibility changes done
  lib/components/molecules/Accordion/Accordion.js
  lib/components/molecules/Accordion/Accordion.story.js
  lib/components/molecules/Accordion/tests/Accordion.test.js
  lib/components/molecules/Accordion/tests/__snapshots__/Accordion.test.js.snap
  lib/components/molecules/Accordion/types/index.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

Accordion changes
  lib/components/molecules/Accordion/Accordion.story.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

Accordion changes
  lib/components/molecules/Accordion/tests/Accordion.test.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

Accordion
  lib/components/molecules/Accordion/tests/Accordion.test.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

Accordion changes
  lib/components/molecules/Accordion/tests/Accordion.test.js
  lib/components/molecules/Accordion/tests/__snapshots__/Accordion.test.js.snap
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

added typeahead component with tdd approch
  lib/components/atoms/Button/Button.js
  lib/components/atoms/Button/Button.style.js
  lib/components/molecules/Typeahead/ListItem.js
  lib/components/molecules/Typeahead/Typeahead.js
  lib/components/molecules/Typeahead/Typeahead.mock.js
  lib/components/molecules/Typeahead/Typeahead.story.js
  lib/components/molecules/Typeahead/Typeahead.style.js
  lib/components/molecules/Typeahead/constants.js
  lib/components/molecules/Typeahead/index.js
  lib/components/molecules/Typeahead/tests/Typeahead.test.js
  lib/components/molecules/Typeahead/tests/__snapshots__/Typeahead.test.js.snap
  lib/components/molecules/Typeahead/types/index.js
  lib/styles/themes/base/def/border.js
  lib/styles/themes/base/def/colors.js
  lib/styles/themes/base/tokens/colors.css
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

added aria-expanded
  lib/components/molecules/Typeahead/Typeahead.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

fixed linting error
  lib/components/molecules/Typeahead/Typeahead.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

updated snapshots
  lib/components/atoms/Button/tests/__snapshots__/Button.style.test.js.snap
  lib/components/atoms/Image/tests/__snapshots__/Image.style.test.js.snap
  lib/components/atoms/Input/tests/__snapshots__/Input.style.test.js.snap
  lib/components/atoms/Select/tests/__snapshots__/Select.style.test.js.snap
  lib/components/atoms/Textarea/tests/__snapshots__/Textarea.style.test.js.snap
  lib/components/molecules/Form/FieldInput/tests/__snapshots__/FieldInput.test.js.snap
  lib/components/molecules/Form/FieldSelect/tests/__snapshots__/FieldSelect.test.js.snap
  lib/components/molecules/Form/FieldTextarea/tests/__snapshots__/FieldTextarea.test.js.snap
  lib/components/molecules/Typeahead/tests/__snapshots__/Typeahead.test.js.snap
Due: none

added feature to use customer filter method
  lib/components/molecules/Typeahead/Typeahead.js
  lib/components/molecules/Typeahead/Typeahead.mock.js
  lib/components/molecules/Typeahead/Typeahead.story.js
  lib/components/molecules/Typeahead/Typeahead.style.js
  lib/components/molecules/Typeahead/tests/__snapshots__/Typeahead.test.js.snap
  lib/components/molecules/Typeahead/types/index.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

Implemented Carousel With Declarative Approach
  .jest-test-results.json
  .storybook/webpack.config.js
  config/dist.webpack.config.js
  lib/components/atoms/Icon/Icon.js
  lib/components/atoms/Icon/tests/Icon.test.js
  lib/components/atoms/Icon/tests/__snapshots__/Icon.test.js.snap
  lib/components/molecules/AtomicCarousel/AtomicCarousel.js
  lib/components/molecules/AtomicCarousel/AtomicCarousel.mock.js
  lib/components/molecules/AtomicCarousel/tests/__snapshots__/AtomicCarousel.test.js.snap
  lib/components/molecules/Carousel/Carousel.js
  lib/components/molecules/Carousel/Carousel.mock.js
  lib/components/molecules/Carousel/Carousel.story.js
  lib/components/molecules/Carousel/Carousel.style.js
  lib/components/molecules/Carousel/images/1.jpg
  lib/components/molecules/Carousel/images/2.jpg
  lib/components/molecules/Carousel/images/3.jpg
  lib/components/molecules/Carousel/images/4.jpg
  lib/components/molecules/Carousel/index.js
  lib/components/molecules/Carousel/tests/Carousel.test.js
  lib/components/molecules/Carousel/tests/__snapshots__/Carousel.test.js.snap
  lib/components/molecules/Carousel/types/index.js
  lib/styles/themes/base/def/icons.js
  lib/styles/themes/base/icons/left-arrow_sprite.svg
  lib/styles/themes/base/icons/pause_sprite.svg
  lib/styles/themes/base/icons/play_sprite.svg
  lib/styles/themes/base/icons/right-arrow_sprite.svg
  package.json
  yarn.lock
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

updated test cases
  lib/components/molecules/Typeahead/tests/Typeahead.test.js
  lib/components/molecules/Typeahead/tests/__snapshots__/Typeahead.test.js.snap
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

Fixed test cases and added Form context over formFields
  .jest-test-results.json
  lib/components/molecules/Form/FieldInput/tests/FieldInput.test.js
  lib/components/molecules/Form/FieldSelect/tests/FieldSelect.test.js
  lib/components/molecules/Form/FieldSelect/tests/__snapshots__/FieldSelect.test.js.snap
  lib/components/molecules/Form/FieldTextarea/tests/FieldTextarea.test.js
  yarn.lock
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

Test cases written for hooks
  lib/components/molecules/Search/Search.js
  lib/components/molecules/Search/Search.style.js
  lib/components/molecules/Search/tests/Search.test.js
  lib/components/molecules/Search/tests/__snapshots__/Search.test.js.snap
  lib/core/hooks/speechRecognition/tests/useSpeechRecognition.test.js
  lib/core/hooks/speechRecognition/useSpeechRecognition.js
  lib/core/hooks/speechRecognition/useSpeechRecognition.mock.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

Update snapshot
  .jest-test-results.json
  lib/components/atoms/Button/tests/__snapshots__/Button.style.test.js.snap
  lib/components/atoms/Image/tests/__snapshots__/Image.style.test.js.snap
  lib/components/atoms/Input/tests/__snapshots__/Input.style.test.js.snap
  lib/components/atoms/Textarea/tests/__snapshots__/Textarea.style.test.js.snap
  lib/components/molecules/Form/FieldInput/tests/__snapshots__/FieldInput.test.js.snap
  lib/components/molecules/Form/FieldTextarea/tests/__snapshots__/FieldTextarea.test.js.snap
  yarn.lock
Due: prettier --write

implemented review comments
  lib/components/molecules/Typeahead/Typeahead.js
  lib/components/molecules/Typeahead/Typeahead.story.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

added pseudo elements in ignore selectors
  stylelint.config.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

'DateSelector'
  lib/components/atoms/Select/Select.js
  lib/components/atoms/Select/tests/__snapshots__/Select.style.test.js.snap
  lib/components/atoms/Select/tests/__snapshots__/Select.test.js.snap
  lib/components/molecules/DateSelector/DateSelector.js
  lib/components/molecules/DateSelector/DateSelector.mock.js
  lib/components/molecules/DateSelector/tests/__snapshots__/DateSelector.test.js.snap
  lib/components/molecules/DateSelector/types/index.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

updated snap shots
  .jest-test-results.json
  lib/components/atoms/Button/tests/__snapshots__/Button.style.test.js.snap
  lib/components/atoms/Image/tests/__snapshots__/Image.style.test.js.snap
  lib/components/atoms/Input/tests/__snapshots__/Input.style.test.js.snap
  lib/components/atoms/Textarea/tests/__snapshots__/Textarea.style.test.js.snap
  lib/components/molecules/Form/FieldInput/tests/__snapshots__/FieldInput.test.js.snap
  lib/components/molecules/Form/FieldTextarea/tests/__snapshots__/FieldTextarea.test.js.snap
  yarn.lock
Due: prettier --write

updated snapshots
  lib/components/atoms/Button/tests/__snapshots__/Button.style.test.js.snap
  lib/components/atoms/Image/tests/__snapshots__/Image.style.test.js.snap
  lib/components/atoms/Input/tests/__snapshots__/Input.style.test.js.snap
  lib/components/atoms/Textarea/tests/__snapshots__/Textarea.style.test.js.snap
  lib/components/molecules/Form/FieldInput/tests/__snapshots__/FieldInput.test.js.snap
  lib/components/molecules/Form/FieldTextarea/tests/__snapshots__/FieldTextarea.test.js.snap
Due: none

Pull from develop branch
  lib/components/atoms/Button/tests/__snapshots__/Button.style.test.js.snap
  lib/components/atoms/Image/tests/__snapshots__/Image.style.test.js.snap
  lib/components/atoms/Input/tests/__snapshots__/Input.style.test.js.snap
  lib/components/atoms/Textarea/tests/__snapshots__/Textarea.style.test.js.snap
  lib/components/molecules/Form/FieldInput/tests/__snapshots__/FieldInput.test.js.snap
  lib/components/molecules/Form/FieldTextarea/tests/__snapshots__/FieldTextarea.test.js.snap
Due: none

DateSelector
  lib/components/molecules/DateSelector/DateSelector.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

Hook test cases implemented
  lib/components/molecules/Search/Search.js
  lib/components/molecules/Search/Search.mock.js
  lib/core/hooks/speechRecognition/tests/useSpeechRecognition.test.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

Review Required
  .jest-test-results.json
  lib/components/molecules/Toast/Toast.js
  lib/components/molecules/Toast/Toast.style.js
  lib/components/molecules/Toast/tests/Toast.test.js
  lib/components/molecules/Toast/tests/__snapshots__/Toast.test.js.snap
  lib/static/images/close.svg
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

updated snap shots
  .jest-test-results.json
  lib/components/atoms/Button/tests/__snapshots__/Button.style.test.js.snap
  lib/components/atoms/Image/tests/__snapshots__/Image.style.test.js.snap
  lib/components/atoms/Input/tests/__snapshots__/Input.style.test.js.snap
  lib/components/atoms/Textarea/tests/__snapshots__/Textarea.style.test.js.snap
  lib/components/molecules/Form/FieldInput/tests/__snapshots__/FieldInput.test.js.snap
  lib/components/molecules/Form/FieldTextarea/tests/__snapshots__/FieldTextarea.test.js.snap
Due: prettier --write

Review Required
  .jest-test-results.json
  lib/components/molecules/Toast/tests/Toast.test.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

update sanpshots
  .jest-test-results.json
Due: prettier --write

added jsx-a11y/label-has-associated-control
  .eslintrc
Due: none

removed jsx-a11y/label-has-associated-control
  .eslintrc
Due: none

added one more test
  lib/components/molecules/Typeahead/tests/Typeahead.test.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

Path conditions:
  prettier --write: any of: *.{js,json,css,md}
  yarn run lint:css:fix: (any of: *.css) or (any of: *.js)
  yarn run lint:js:fix: any of: *.js
  yarn run test: any of: *.test.js
