Repository pagesource/atomic-react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

.lintstagedrc:

{
  "*.{js,json,css,md}":[
    "prettier --write",
    "git add",
  ],
  "*.css": [
    "yarn run lint:css:fix",
  ],
  "*.js": [
    "yarn run lint:css:fix",
    "yarn run lint:js:fix"
  ],
  "*.test.js": [
    "yarn run test",
  ],
}

added active class when item is active
  .jest-test-results.json
  lib/components/atoms/Pagination/Pagination.js
  lib/components/atoms/Pagination/Pagination.style.js
  lib/components/atoms/Pagination/tests/__snapshots__/Pagination.test.js.snap
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

fix for bem and append other prop there
  lib/components/atoms/Video/Video.js
  lib/components/atoms/Video/Video.mock.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

add flow
  .jest-test-results.json
  lib/components/molecules/Table/Table.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

fix for bem and append other prop there
  lib/components/atoms/Video/Video.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

updated the functionality
  .jest-test-results.json
  lib/components/hoc/PaginationHoc/PaginationHoc.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

File-Upload: Removed errors to enable build pass - 22.
  lib/components/molecules/Form/DDFileInput/tests/DDFileInput.test.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

updated test for testing
  .jest-test-results.json
  .lintstagedrc
  config/jest.config.js
  lib/components/atoms/Button/tests/__snapshots__/Button.style.test.js.snap
  lib/components/atoms/Image/tests/__snapshots__/Image.style.test.js.snap
  lib/components/atoms/Input/tests/__snapshots__/Input.style.test.js.snap
  lib/components/atoms/Textarea/tests/__snapshots__/Textarea.style.test.js.snap
  lib/components/molecules/Form/FieldInput/tests/__snapshots__/FieldInput.test.js.snap
  lib/components/molecules/Form/FieldSelect/tests/__snapshots__/FieldSelect.test.js.snap
  lib/components/molecules/Form/FieldTextarea/tests/__snapshots__/FieldTextarea.test.js.snap
  lib/components/molecules/Form/tests/Form.test.js
  package.json
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

updated test result json
  .jest-test-results.json
Due: prettier --write

updated test for testing
  .jest-test-results.json
  lib/components/molecules/Form/FieldInput/tests/FieldInput.test.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

updated test for testing
  .jest-test-results.json
  lib/components/atoms/Button/tests/__snapshots__/Button.style.test.js.snap
  lib/components/atoms/Image/tests/__snapshots__/Image.style.test.js.snap
  lib/components/atoms/Input/tests/__snapshots__/Input.style.test.js.snap
  lib/components/atoms/Textarea/tests/__snapshots__/Textarea.style.test.js.snap
  lib/components/molecules/Form/FieldInput/tests/FieldInput.test.js
  lib/components/molecules/Form/FieldInput/tests/__snapshots__/FieldInput.test.js.snap
  lib/components/molecules/Form/FieldSelect/tests/__snapshots__/FieldSelect.test.js.snap
  lib/components/molecules/Form/FieldTextarea/tests/__snapshots__/FieldTextarea.test.js.snap
  lib/components/molecules/Form/tests/Form.test.js
  yarn.lock
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

updated config based on reviews
  .jest-test-results.json
  .lintstagedrc
  package.json
Due: prettier --write

File-Upload: Removed errors to enable build pass - 23.
  lib/components/molecules/Form/DDFileInput/DDFileInput.js
  lib/components/molecules/Form/DDFileInput/tests/DDFileInput.test.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

change hook folder structure
  lib/components/molecules/Search/Search.js
  lib/core/hooks/index.js
  lib/core/hooks/speechRecognition/types/index.js
  lib/core/hooks/speechRecognition/useSpeechRecognition.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

Removed flow from Package Json
  .babelrc.js
  .eslintrc
  package.json
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

pull new changes from develop
  package-lock.json
Due: prettier --write

fix of variations
  lib/components/atoms/Video/Video.mock.js
  lib/components/atoms/Video/Video.style.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

fix of variations
  .jest-test-results.json
  lib/components/atoms/Video/Video.mock.js
  lib/components/atoms/Video/tests/Video.test.js
  lib/components/atoms/Video/tests/__snapshots__/Video.test.js.snap
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

ToggleComaponent
  lib/components/molecules/FieldToggle/FieldToggle.js
  lib/components/molecules/FieldToggle/FieldToggle.mock.js
  lib/components/molecules/FieldToggle/FieldToggle.story.js
  lib/components/molecules/FieldToggle/FieldToggle.style.js
  lib/components/molecules/FieldToggle/index.js
  lib/components/molecules/FieldToggle/tests/FieldToggle.test.js
  lib/components/molecules/FieldToggle/tests/__snapshots__/FieldToggle.test.js.snap
  lib/components/molecules/FieldToggle/types/index.js
  lib/components/molecules/Form/FieldToggle/FieldToggle.js
  lib/components/molecules/Form/FieldToggle/FieldToggle.style.js
  lib/components/molecules/Form/FieldToggle/index.js
  lib/components/molecules/Form/FieldToggle/tests/FieldToggle.test.js
  lib/components/molecules/Form/FieldToggle/tests/__snapshots__/FieldToggle.test.js.snap
  lib/components/molecules/Form/FieldToggle/types/index.js
  lib/components/molecules/Form/Form.js
  lib/components/molecules/Form/Form.mock.js
  lib/components/molecules/Form/Form.story.js
  lib/styles/themes/base/def/animations.js
  lib/styles/themes/base/def/colors.js
  lib/styles/themes/base/tokens/animations.css
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

File-Upload: Review comments implementation.
  lib/components/atoms/Button/tests/__snapshots__/Button.style.test.js.snap
  lib/components/atoms/Input/Input.js
  lib/components/atoms/Input/tests/__snapshots__/Input.style.test.js.snap
  lib/components/atoms/Select/tests/__snapshots__/Select.style.test.js.snap
  lib/components/atoms/Textarea/tests/__snapshots__/Textarea.style.test.js.snap
  lib/components/molecules/Form/DDFileInput/DDFileInput.js
  lib/components/molecules/Form/DDFileInput/DDFileInput.style.js
  lib/components/molecules/Form/FieldFileInput/FieldFileInput.js
  lib/components/molecules/Form/FieldFileInput/FieldFileInput.style.js
  lib/styles/themes/base/def/border.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

review comment changes
  .jest-test-results.json
  lib/components/molecules/Table/Table.js
  lib/components/molecules/Table/Table.story.js
  lib/components/molecules/Table/tests/Table.test.js
  lib/components/molecules/Table/tests/__snapshots__/Table.test.js.snap
  lib/components/molecules/Table/types/index.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

Accordion - Review comments incorporated
  lib/components/molecules/Accordion/AccordionHeader/AccordionHeader.story.js
  lib/components/molecules/Accordion/AccordionHeader/tests/AccordionHeader.test.js
  lib/components/molecules/Accordion/AccordionPanel/AccordionPanel.story.js
  lib/components/molecules/Accordion/AccordionPanel/tests/AccordionPanel.test.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

install yarn again due test error
  .jest-test-results.json
  lib/components/atoms/Button/tests/__snapshots__/Button.style.test.js.snap
  lib/components/atoms/Image/tests/__snapshots__/Image.style.test.js.snap
  lib/components/atoms/Input/tests/__snapshots__/Input.style.test.js.snap
  lib/components/atoms/Textarea/tests/__snapshots__/Textarea.style.test.js.snap
  lib/components/molecules/Form/FieldInput/tests/__snapshots__/FieldInput.test.js.snap
  lib/components/molecules/Form/FieldSelect/tests/__snapshots__/FieldSelect.test.js.snap
  lib/components/molecules/Form/FieldTextarea/tests/__snapshots__/FieldTextarea.test.js.snap
  lib/components/molecules/Table/Table.js
  lib/components/molecules/Table/Table.story.js
  lib/components/molecules/Table/tests/__snapshots__/Table.test.js.snap
  lib/components/molecules/Table/types/index.js
  yarn.lock
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

implemented flex css and removed duplicate data
  lib/components/atoms/Button/tests/__snapshots__/Button.style.test.js.snap
  lib/components/atoms/Image/tests/__snapshots__/Image.style.test.js.snap
  lib/components/atoms/Input/tests/__snapshots__/Input.style.test.js.snap
  lib/components/atoms/Textarea/tests/__snapshots__/Textarea.style.test.js.snap
  lib/components/molecules/Form/FieldInput/tests/__snapshots__/FieldInput.test.js.snap
  lib/components/molecules/Form/FieldSelect/tests/__snapshots__/FieldSelect.test.js.snap
  lib/components/molecules/Form/FieldTextarea/tests/__snapshots__/FieldTextarea.test.js.snap
  lib/components/molecules/Search/Search.js
  lib/components/molecules/Search/Search.story.js
  lib/components/molecules/Search/Search.style.js
  lib/components/molecules/Search/SearchList/SearchList.story.js
  lib/components/molecules/Search/SearchList/SearchList.style.js
  lib/components/molecules/Search/SearchList/tests/SearchList.test.js
  lib/components/molecules/Search/SearchList/tests/__snapshots__/SearchList.test.js.snap
  lib/components/molecules/Search/SearchList/types/index.js
  lib/components/molecules/Search/tests/__snapshots__/Search.test.js.snap
  lib/core/hooks/speechRecognition/tests/useSpeechRecognition.test.js
  lib/core/hooks/speechRecognition/types/index.js
  stylelint.config.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

incorportated reviews comments
  .jest-test-results.json
  lib/components/molecules/Typeahead/ListItem.js
  lib/components/molecules/Typeahead/Typeahead.js
  lib/components/molecules/Typeahead/Typeahead.mock.js
  lib/components/molecules/Typeahead/Typeahead.story.js
  lib/components/molecules/Typeahead/Typeahead.style.js
  lib/components/molecules/Typeahead/tests/Typeahead.test.js
  lib/components/molecules/Typeahead/types/index.js
  lib/styles/themes/base/def/border.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

incorportated reviews comments
  lib/components/molecules/Typeahead/Typeahead.js
  lib/components/molecules/Typeahead/Typeahead.mock.js
  lib/components/molecules/Typeahead/Typeahead.story.js
  lib/components/molecules/Typeahead/tests/Typeahead.test.js
  lib/components/molecules/Typeahead/tests/__snapshots__/Typeahead.test.js.snap
  lib/components/molecules/Typeahead/types/index.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

incorportated reviews comments
  lib/components/molecules/Typeahead/ListItem.js
  lib/components/molecules/Typeahead/Typeahead.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

incorportated reviews comments
  lib/components/molecules/Typeahead/Typeahead.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

review fixes
  lib/components/molecules/StickyBar/StickyBar.story.js
  lib/components/molecules/StickyBar/StickyBar.style.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

code changes
  lib/components/hoc/PaginationHoc/PaginationHoc.js
  lib/components/hoc/PaginationHoc/PaginationHoc.story.js
  lib/components/molecules/Pagination/Pagination.js
  lib/components/molecules/Pagination/Pagination.mock.js
  lib/components/molecules/Pagination/Pagination.story.js
  lib/components/molecules/Pagination/Pagination.style.js
  lib/components/molecules/Pagination/PaginationList.js
  lib/components/molecules/Pagination/index.js
  lib/components/molecules/Pagination/tests/Pagination.test.js
  lib/components/molecules/Pagination/tests/__snapshots__/Pagination.test.js.snap
  lib/components/molecules/Pagination/types/index.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

review code fixed
  .jest-test-results.json
  lib/components/atoms/Blockquote/Blockquote.js
  lib/components/atoms/Blockquote/tests/Blockquote.test.js
  lib/components/molecules/QuoteMedia/QuoteMedia.js
  lib/components/molecules/QuoteMedia/QuoteMedia.mock.js
  lib/components/molecules/QuoteMedia/QuoteMedia.style.js
  lib/components/molecules/QuoteMedia/tests/QuoteMedia.test.js
  lib/components/molecules/QuoteMedia/types/index.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

File-Upload: Review comments implementation.
  lib/components/atoms/FileInput/FileInput.js
  lib/components/atoms/Input/Input.js
  lib/components/atoms/Label/Label.js
  lib/components/molecules/ArticleThumbnail/ArticleThumbnail.js
  lib/components/molecules/ArticleThumbnail/tests/__snapshots__/ArticleThumbnail.test.js.snap
  lib/components/molecules/Form/DDFileInput/DDFileInput.js
  lib/components/molecules/Form/FieldFileInput/FieldFileInput.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

updated code to first check the length of results before rendering the list
  lib/components/molecules/Typeahead/Typeahead.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

added tab key handling
  lib/components/molecules/Typeahead/Typeahead.js
  lib/components/molecules/Typeahead/constants.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

added tab key handling
  lib/components/molecules/Typeahead/tests/Typeahead.test.js
  lib/components/molecules/Typeahead/tests/__snapshots__/Typeahead.test.js.snap
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

added tab key handling
  lib/components/molecules/Typeahead/tests/Typeahead.test.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

add children in story with render props
  .jest-test-results.json
  lib/components/atoms/Button/tests/__snapshots__/Button.style.test.js.snap
  lib/components/atoms/Image/tests/__snapshots__/Image.style.test.js.snap
  lib/components/atoms/Input/tests/__snapshots__/Input.style.test.js.snap
  lib/components/atoms/Textarea/tests/__snapshots__/Textarea.style.test.js.snap
  lib/components/molecules/Form/FieldInput/tests/__snapshots__/FieldInput.test.js.snap
  lib/components/molecules/Form/FieldSelect/tests/__snapshots__/FieldSelect.test.js.snap
  lib/components/molecules/Form/FieldTextarea/tests/__snapshots__/FieldTextarea.test.js.snap
  lib/components/molecules/Table/Table.js
  lib/components/molecules/Table/Table.story.js
  lib/components/molecules/Table/tests/__snapshots__/Table.test.js.snap
  lib/components/molecules/Table/types/index.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

install yarn again
  .jest-test-results.json
  lib/components/atoms/Button/tests/__snapshots__/Button.style.test.js.snap
  lib/components/atoms/Image/tests/__snapshots__/Image.style.test.js.snap
  lib/components/atoms/Input/tests/__snapshots__/Input.style.test.js.snap
  lib/components/atoms/Textarea/tests/__snapshots__/Textarea.style.test.js.snap
  lib/components/molecules/Form/FieldInput/tests/__snapshots__/FieldInput.test.js.snap
  lib/components/molecules/Form/FieldSelect/tests/__snapshots__/FieldSelect.test.js.snap
  lib/components/molecules/Form/FieldTextarea/tests/__snapshots__/FieldTextarea.test.js.snap
  lib/components/molecules/Table/Table.story.js
  yarn.lock
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

css fix
  lib/components/atoms/Video/Video.js
  lib/components/atoms/Video/Video.mock.js
  lib/components/atoms/Video/Video.style.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

fix feedback
  .jest-test-results.json
  lib/components/atoms/Track/types/index.js
  lib/components/atoms/Video/tests/__snapshots__/Video.test.js.snap
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix
