Repository pagesource/atomic-react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

worked on feedback
  .jest-test-results.json
Due: prettier --write

review comments fixed
  lib/components/molecules/Form/FieldInput/tests/FieldInput.test.js
  lib/components/molecules/Form/FieldInput/tests/__snapshots__/FieldInput.test.js.snap
  lib/components/molecules/Form/FieldSelect/tests/__snapshots__/FieldSelect.test.js.snap
  lib/components/molecules/Form/FieldTextarea/tests/__snapshots__/FieldTextarea.test.js.snap
  lib/components/molecules/Form/tests/__snapshots__/Form.test.js.snap
  package-lock.json
  package.json
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

fixed small issue
  lib/components/molecules/Typeahead/Typeahead.js
  lib/components/molecules/Typeahead/Typeahead.story.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

Revert "review comments fixed"
  lib/components/molecules/Form/FieldInput/tests/FieldInput.test.js
  lib/components/molecules/Form/FieldInput/tests/__snapshots__/FieldInput.test.js.snap
  lib/components/molecules/Form/FieldSelect/tests/__snapshots__/FieldSelect.test.js.snap
  lib/components/molecules/Form/FieldTextarea/tests/__snapshots__/FieldTextarea.test.js.snap
  lib/components/molecules/Form/tests/__snapshots__/Form.test.js.snap
  package-lock.json
  package.json
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

snapshot issue resolve for filedset
  .jest-test-results.json
  lib/components/atoms/Video/Video.js
  lib/components/molecules/Form/FieldInput/tests/FieldInput.test.js
  package.json
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

toJson added
  .jest-test-results.json
  lib/components/molecules/Form/FieldInput/tests/FieldInput.test.js
  lib/components/molecules/Form/FieldInput/tests/__snapshots__/FieldInput.test.js.snap
  lib/components/molecules/Form/FieldSelect/tests/__snapshots__/FieldSelect.test.js.snap
  lib/components/molecules/Form/FieldTextarea/tests/__snapshots__/FieldTextarea.test.js.snap
  lib/components/molecules/Form/tests/__snapshots__/Form.test.js.snap
  package-lock.json
  package.json
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

Revert "toJson added"
  .jest-test-results.json
  lib/components/molecules/Form/FieldInput/tests/FieldInput.test.js
  lib/components/molecules/Form/FieldInput/tests/__snapshots__/FieldInput.test.js.snap
  lib/components/molecules/Form/FieldSelect/tests/__snapshots__/FieldSelect.test.js.snap
  lib/components/molecules/Form/FieldTextarea/tests/__snapshots__/FieldTextarea.test.js.snap
  lib/components/molecules/Form/tests/__snapshots__/Form.test.js.snap
  package-lock.json
  package.json
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

fixed the linting bugs
  .jest-test-results.json
  lib/components/atoms/Pagination/Pagination.js
  lib/components/atoms/Pagination/Pagination.style.js
  lib/components/atoms/Pagination/tests/__snapshots__/Pagination.test.js.snap
  lib/components/hoc/PaginationHoc/PaginationHoc.js
  lib/components/hoc/PaginationHoc/tests/PaginationHoc.test.js
  lib/components/hoc/PaginationHoc/tests/__snapshots__/PaginationHoc.test.js.snap
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

toJson method used.
  .jest-test-results.json
  lib/components/molecules/Form/FieldInput/tests/FieldInput.test.js
  lib/components/molecules/Form/FieldInput/tests/__snapshots__/FieldInput.test.js.snap
  lib/components/molecules/Form/FieldSelect/tests/__snapshots__/FieldSelect.test.js.snap
  lib/components/molecules/Form/FieldTextarea/tests/__snapshots__/FieldTextarea.test.js.snap
  lib/components/molecules/Form/tests/__snapshots__/Form.test.js.snap
  package-lock.json
  package.json
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

Revert "toJson method used."
  .jest-test-results.json
  lib/components/molecules/Form/FieldInput/tests/FieldInput.test.js
  lib/components/molecules/Form/FieldInput/tests/__snapshots__/FieldInput.test.js.snap
  lib/components/molecules/Form/FieldSelect/tests/__snapshots__/FieldSelect.test.js.snap
  lib/components/molecules/Form/FieldTextarea/tests/__snapshots__/FieldTextarea.test.js.snap
  lib/components/molecules/Form/tests/__snapshots__/Form.test.js.snap
  package-lock.json
  package.json
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

added shallow test
  .jest-test-results.json
  lib/components/molecules/Typeahead/tests/Typeahead.test.js
  lib/components/molecules/Typeahead/tests/__snapshots__/Typeahead.test.js.snap
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

added new test
  lib/components/molecules/Typeahead/Typeahead.js
  lib/components/molecules/Typeahead/tests/Typeahead.test.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

fixed lint erros and removed commenmts
  lib/components/molecules/Typeahead/tests/Typeahead.test.js
  stylelint.config.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

speechRecognition hooks created
  lib/components/molecules/Search/Search.js
  lib/core/hooks/index.js
  lib/core/hooks/useSpeechRecognition.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

fix for image and inputfiled snap
  .jest-test-results.json
  lib/components/atoms/Image/tests/Image.test.js
  lib/components/molecules/Form/FieldInput/tests/FieldInput.test.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

Accordion development in progress
  lib/components/molecules/Accordion/Accordion.js
  lib/components/molecules/Accordion/AccordionHeader/AccordionHeader.js
  lib/components/molecules/Accordion/AccordionHeader/AccordionHeader.mock.js
  lib/components/molecules/Accordion/AccordionHeader/AccordionHeader.story.js
  lib/components/molecules/Accordion/AccordionHeader/AccordionHeader.style.js
  lib/components/molecules/Accordion/AccordionHeader/index.js
  lib/components/molecules/Accordion/AccordionHeader/tests/AccordionHeader.test.js
  lib/components/molecules/Accordion/AccordionHeader/types/index.js
  lib/components/molecules/Accordion/AccordionPanel/AccordionPanel.js
  lib/components/molecules/Accordion/AccordionPanel/AccordionPanel.mock.js
  lib/components/molecules/Accordion/AccordionPanel/AccordionPanel.story.js
  lib/components/molecules/Accordion/AccordionPanel/AccordionPanel.style.js
  lib/components/molecules/Accordion/AccordionPanel/index.js
  lib/components/molecules/Accordion/AccordionPanel/tests/AccordionPanel.test.js
  lib/components/molecules/Accordion/AccordionPanel/types/index.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

pagination component modification
  .jest-test-results.json
  lib/components/atoms/Pagination/Pagination.js
  lib/components/atoms/Pagination/tests/__snapshots__/Pagination.test.js.snap
  lib/components/hoc/PaginationHoc/PaginationHoc.js
  lib/components/hoc/PaginationHoc/PaginationHoc.mock.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

added yarn
  package-lock.json
  yarn.lock
Due: prettier --write

File-Upload: Removed errors to enable build pass - 15.
  .jest-test-results.json
  config/jest.config.js
  lib/components/atoms/FileInput/tests/FileInput.test.js
  lib/components/molecules/Form/DDFileInput/DDFileInput.js
  lib/components/molecules/Form/DDFileInput/tests/DDFileInput.test.js
  lib/components/molecules/Form/FieldFileInput/tests/FieldFileInput.test.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

File-Upload: Removed errors to enable build pass - 16.
  lib/components/molecules/Form/DDFileInput/DDFileInput.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

Revert "review comments fixed"
  lib/components/molecules/Form/FieldInput/tests/FieldInput.test.js
  lib/components/molecules/Form/FieldInput/tests/__snapshots__/FieldInput.test.js.snap
  lib/components/molecules/Form/FieldSelect/tests/__snapshots__/FieldSelect.test.js.snap
  lib/components/molecules/Form/FieldTextarea/tests/__snapshots__/FieldTextarea.test.js.snap
  lib/components/molecules/Form/tests/__snapshots__/Form.test.js.snap
  package.json
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

Revert "toJson added"
  .jest-test-results.json
  lib/components/molecules/Form/FieldInput/tests/FieldInput.test.js
  lib/components/molecules/Form/FieldInput/tests/__snapshots__/FieldInput.test.js.snap
  lib/components/molecules/Form/FieldSelect/tests/__snapshots__/FieldSelect.test.js.snap
  lib/components/molecules/Form/FieldTextarea/tests/__snapshots__/FieldTextarea.test.js.snap
  lib/components/molecules/Form/tests/__snapshots__/Form.test.js.snap
  package.json
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

Revert "toJson method used."
  .jest-test-results.json
  lib/components/molecules/Form/FieldInput/tests/FieldInput.test.js
  lib/components/molecules/Form/FieldInput/tests/__snapshots__/FieldInput.test.js.snap
  lib/components/molecules/Form/FieldSelect/tests/__snapshots__/FieldSelect.test.js.snap
  lib/components/molecules/Form/FieldTextarea/tests/__snapshots__/FieldTextarea.test.js.snap
  lib/components/molecules/Form/tests/__snapshots__/Form.test.js.snap
  package.json
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

fix snapshot
  .jest-test-results.json
  lib/components/molecules/Form/FieldInput/tests/__snapshots__/FieldInput.test.js.snap
  lib/components/molecules/Form/FieldSelect/tests/__snapshots__/FieldSelect.test.js.snap
  lib/components/molecules/Form/FieldTextarea/tests/__snapshots__/FieldTextarea.test.js.snap
  lib/components/molecules/Form/tests/__snapshots__/Form.test.js.snap
Due: prettier --write

change in launch.json
  .jest-test-results.json
  .vscode/launch.json
Due: prettier --write

updated snapshots
  .jest-test-results.json
  lib/components/atoms/Button/tests/__snapshots__/Button.style.test.js.snap
  lib/components/atoms/Image/tests/__snapshots__/Image.style.test.js.snap
  lib/components/atoms/Input/tests/__snapshots__/Input.style.test.js.snap
  lib/components/atoms/Textarea/tests/__snapshots__/Textarea.style.test.js.snap
  lib/components/molecules/Form/FieldInput/tests/__snapshots__/FieldInput.test.js.snap
  lib/components/molecules/Form/FieldSelect/tests/__snapshots__/FieldSelect.test.js.snap
  lib/components/molecules/Form/FieldTextarea/tests/__snapshots__/FieldTextarea.test.js.snap
  lib/components/molecules/Form/tests/__snapshots__/Form.test.js.snap
Due: prettier --write

updated test cases
  .jest-test-results.json
Due: prettier --write

updated snapshots
  .jest-test-results.json
  lib/components/atoms/Button/tests/__snapshots__/Button.style.test.js.snap
  lib/components/atoms/Image/tests/__snapshots__/Image.style.test.js.snap
  lib/components/atoms/Input/tests/__snapshots__/Input.style.test.js.snap
  lib/components/atoms/Textarea/tests/__snapshots__/Textarea.style.test.js.snap
  lib/components/molecules/Form/FieldInput/tests/__snapshots__/FieldInput.test.js.snap
  lib/components/molecules/Form/FieldSelect/tests/__snapshots__/FieldSelect.test.js.snap
  lib/components/molecules/Form/FieldTextarea/tests/__snapshots__/FieldTextarea.test.js.snap
  lib/components/molecules/Form/tests/__snapshots__/Form.test.js.snap
  yarn.lock
Due: prettier --write

fix default prop
  .jest-test-results.json
  lib/components/atoms/Anchor/Anchor.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

added some more tests and updated input
  lib/components/molecules/Typeahead/Typeahead.js
  lib/components/molecules/Typeahead/tests/Typeahead.test.js
  lib/components/molecules/Typeahead/tests/__snapshots__/Typeahead.test.js.snap
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

added some more tests and updated input
  lib/components/molecules/Typeahead/Typeahead.js
  lib/components/molecules/Typeahead/Typeahead.story.js
  lib/components/molecules/Typeahead/types/index.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

code review fixed | yarn added
  .jest-test-results.json
  lib/components/atoms/Blockquote/Blockquote.js
  lib/components/atoms/Blockquote/Blockquote.mock.js
  lib/components/atoms/Blockquote/Blockquote.story.js
  lib/components/atoms/Blockquote/Blockquote.style.js
  lib/components/atoms/Blockquote/index.js
  lib/components/atoms/Blockquote/tests/Blockquote.test.js
  lib/components/atoms/Blockquote/tests/__snapshots__/Blockquote.test.js.snap
  lib/components/atoms/Blockquote/types/index.js
  lib/components/atoms/Button/tests/__snapshots__/Button.style.test.js.snap
  lib/components/atoms/Input/tests/__snapshots__/Input.style.test.js.snap
  lib/components/atoms/Select/tests/__snapshots__/Select.style.test.js.snap
  lib/components/atoms/Textarea/tests/__snapshots__/Textarea.style.test.js.snap
  lib/components/molecules/Form/FieldInput/tests/FieldInput.test.js
  lib/components/molecules/QuoteMedia/QuoteMedia.js
  lib/components/molecules/QuoteMedia/QuoteMedia.mock.js
  lib/components/molecules/QuoteMedia/QuoteMedia.story.js
  lib/components/molecules/QuoteMedia/QuoteMedia.style.js
  lib/components/molecules/QuoteMedia/index.js
  lib/components/molecules/QuoteMedia/tests/QuoteMedia.test.js
  lib/components/molecules/QuoteMedia/tests/__snapshots__/QuoteMedia.test.js.snap
  lib/components/molecules/QuoteMedia/types/index.js
  lib/styles/themes/base/def/typography.js
  lib/styles/themes/base/tokens/typography.css
  package.json
  yarn.lock
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

test cases added
  .jest-test-results.json
  lib/components/atoms/Pagination/Pagination.js
  lib/components/atoms/Pagination/tests/Pagination.test.js
  lib/components/atoms/Pagination/tests/__snapshots__/Pagination.test.js.snap
  lib/components/hoc/PaginationHoc/PaginationHoc.js
  lib/components/hoc/PaginationHoc/PaginationHoc.mock.js
  lib/components/hoc/PaginationHoc/tests/PaginationHoc.test.js
  lib/components/hoc/PaginationHoc/tests/__snapshots__/PaginationHoc.test.js.snap
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

Toast Notification Test Cases
  lib/components/molecules/Toast/Toast.js
  lib/components/molecules/Toast/Toast.mock.js
  lib/components/molecules/Toast/Toast.style.js
  lib/components/molecules/Toast/tests/Toast.test.js
  lib/components/molecules/Toast/tests/__snapshots__/Toast.test.js.snap
  yarn.lock
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

toast file
  .vscode/launch.json
  lib/components/molecules/Toast/Toast.js
  lib/components/molecules/Toast/Toast.mock.js
  lib/components/molecules/Toast/Toast.story.js
  lib/components/molecules/Toast/Toast.style.js
  lib/components/molecules/Toast/index.js
  lib/components/molecules/Toast/tests/Toast.test.js
  lib/components/molecules/Toast/tests/__snapshots__/Toast.test.js.snap
  lib/components/molecules/Toast/types/index.js
  package-lock.json
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

Accordion changes
  lib/components/molecules/Accordion/Accordion.js
  lib/components/molecules/Accordion/Accordion.story.js
  lib/components/molecules/Accordion/AccordionHeader/AccordionHeader.js
  lib/components/molecules/Accordion/AccordionHeader/tests/AccordionHeader.test.js
  lib/components/molecules/Accordion/AccordionHeader/tests/__snapshots__/AccordionHeader.test.js.snap
  lib/components/molecules/Accordion/AccordionPanel/AccordionPanel.js
  lib/components/molecules/Accordion/AccordionPanel/tests/__snapshots__/AccordionPanel.test.js.snap
  lib/components/molecules/Accordion/tests/Accordion.test.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

Path conditions:
  prettier --write: any of: *.{js,json,css,md}
  yarn run lint:css:fix: (any of: *.css) or (any of: *.js)
  yarn run lint:js:fix: any of: *.js
  yarn run test: any of: *.test.js
