Repository pagesource/atomic-react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

.lintstagedrc:

{
  "*.{js,json,css,md}":[
    "prettier --write",
    "git add",
  ],
  "*.css": [
    "yarn run lint:css:fix",
  ],
  "*.js": [
    "yarn run lint:css:fix",
    "yarn run lint:js:fix"
  ],
  "*.test.js": [
    "yarn run test",
  ],
}

feat(test-commitlint): test commint lint
  lib/components/atoms/Anchor/Anchor.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

feat(test-lint): test lint
  .jest-test-results.json
  .travis.yml
  commitLint.config.js
  package.json
  yarn.lock
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

fix breaking change: shell option in execa
  .jest-test-results.json
  package.json
  scripts/build.js
  yarn.lock
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

feat(test-lint): test lint
  .commitlintrc.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

feat(test-lint): test lint
  package.json
  yarn.lock
Due: prettier --write

feat(add-commitlint): add commitlint
  .huskyrc
  .travis.yml
  package.json
  yarn.lock
Due: prettier --write

feat(test-lint): test lint
  .commitlintrc.js
  .travis.yml
  commitLint.config.js
  package.json
  yarn.lock
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

feat(add-connit-lint): update commitlint
  .jest-test-results.json
  lib/components/atoms/Anchor/Anchor.js
  yarn.lock
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

feat(test-lint): test lint
  lib/components/atoms/Anchor/Anchor.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

initiated mdx setup in atom components
  lib/components/atoms/Anchor/Anchor.stories.mdx
  lib/components/atoms/Button/Button.stories.mdx
  lib/components/atoms/FieldError/FieldError.stories.mdx
  lib/components/atoms/Heading/Heading.stories.mdx
  lib/components/atoms/Icon/Icon.stories.mdx
  lib/components/atoms/Image/Image.stories.mdx
  lib/components/atoms/Input/Input.stories.mdx
  lib/components/atoms/Label/Label.stories.mdx
  lib/components/atoms/Para/Para.stories.mdx
  lib/components/atoms/Tag/Tag.stories.mdx
  lib/components/atoms/Textarea/Textarea.stories.mdx
  lib/components/atoms/Track/Track.stories.mdx
  lib/components/atoms/Video/Video.stories.mdx
Due: none

feat(test-lint): test lint
  .jest-test-results.json
Due: prettier --write

fix(test-lint): fix lint
  .travis.yml
Due: none

feat(test-lint): test lint
  .jest-test-results.json
  package.json
Due: prettier --write

updated mdx setup for atom components
  lib/components/atoms/Anchor/Anchor.stories.mdx
  lib/components/atoms/Icon/Icon.js
  lib/components/atoms/Icon/Icon.stories.mdx
  lib/components/atoms/Select/Select.stories.mdx
  lib/components/atoms/Textarea/Textarea.stories.mdx
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

feat(test-lint): test lint
  package.json
Due: prettier --write

feat(test-lint): test lint
  .travis.yml
Due: none

feat(fix-lint): fix lint
  .travis.yml
  package.json
Due: prettier --write

feat(update-test): update test
  lib/components/atoms/Button/tests/Button.style.test.js
  lib/components/atoms/Button/tests/__snapshots__/Button.style.test.js.snap
  lib/components/atoms/Image/tests/Image.style.test.js
  lib/components/atoms/Image/tests/__snapshots__/Image.style.test.js.snap
  lib/components/atoms/Input/tests/Input.style.test.js
  lib/components/atoms/Input/tests/__snapshots__/Input.style.test.js.snap
  lib/components/atoms/Select/tests/Select.style.test.js
  lib/components/atoms/Textarea/tests/Textarea.style.test.js
  lib/components/atoms/Textarea/tests/__snapshots__/Textarea.style.test.js.snap
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

fix: flow issues
  lib/components/atoms/Input/Input.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

fix: merge develop, fix conflicts and flow issues
  lib/components/molecules/Popover/Popover.js
  lib/components/molecules/Tabs/Tabs.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

initiated adding mdx files in molicules folder
  lib/components/atoms/Anchor/Anchor.stories.mdx
  lib/components/atoms/Button/Button.stories.mdx
  lib/components/atoms/FieldError/FieldError.stories.mdx
  lib/components/atoms/Heading/Heading.stories.mdx
  lib/components/atoms/Icon/Icon.stories.mdx
  lib/components/atoms/Image/Image.stories.mdx
  lib/components/atoms/Input/Input.stories.mdx
  lib/components/atoms/Label/Label.stories.mdx
  lib/components/atoms/Para/Para.stories.mdx
  lib/components/atoms/Select/Select.stories.mdx
  lib/components/atoms/Tag/Tag.stories.mdx
  lib/components/atoms/Textarea/Textarea.stories.mdx
  lib/components/atoms/Track/Track.stories.mdx
  lib/components/atoms/Video/Video.stories.mdx
  lib/components/molecules/Accordion/Accordion.stories.mdx
  lib/components/molecules/ArticleThumbnail/ArticleThumbnail.stories.mdx
  lib/components/molecules/Blockquote/Blockquote.js
  lib/components/molecules/Blockquote/Blockquote.stories.mdx
  lib/components/molecules/Breadcrumb/Breadcrumb.stories.mdx
  lib/components/molecules/Carousel/Carousel.stories.mdx
  lib/components/molecules/CookieDisclaimer/CookieDisclaimer.stories.mdx
  lib/components/molecules/HeroBanner/HeroBanner.stories.mdx
  lib/components/molecules/InputChoice/InputChoice.stories.mdx
  lib/components/molecules/List/List.stories.mdx
  lib/components/molecules/Modal/Modal.stories.mdx
  lib/components/molecules/Pagination/Pagination.stories.mdx
  lib/components/molecules/Popover/Popover.stories.mdx
  lib/components/molecules/ProgressIndicator/ProgressIndicator.stories.mdx
  lib/components/molecules/QuoteMedia/QuoteMedia.stories.mdx
  lib/components/molecules/Skeleton/Skeleton.stories.mdx
  lib/components/molecules/StickyBar/StickyBar.stories.mdx
  lib/components/molecules/Table/Table.stories.mdx
  lib/components/molecules/Tabs/Tab/Tab.stories.mdx
  lib/components/molecules/Tabs/TabPanel/TabPanel.stories.mdx
  lib/components/molecules/Tabs/Tabs.stories.mdx
  lib/components/molecules/Toast/Toast.stories.mdx
  lib/components/molecules/Typeahead/Typeahead.stories.mdx
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

storybook configuration
  lib/components/atoms/Button/Button.mock.js
  lib/components/atoms/Button/Button.stories.mdx
  lib/components/atoms/Button/docs.mdx
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

added @svgr/webpack for svg component
  .storybook/webpack.config.js
  lib/components/atoms/Icon/Icon.js
  lib/components/atoms/Icon/Icon.stories.mdx
  lib/components/molecules/Typeahead/Typeahead.stories.mdx
  package-lock.json
  package.json
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

removing conflict from develop branch
  .jest-test-results.json
Due: prettier --write

fix: added flow check in npm validate
  package.json
Due: prettier --write

fix(react-hook-form): review comment
  lib/components/atoms/Input/Input.js
  lib/components/molecules/Form/DragDropInput/DragDropInput.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

fix(test-commit): test commit
  lib/components/molecules/Form/FieldToggle/tests/FieldToggle.test.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

fix: added flow as pre push hook
  .huskyrc
  package.json
Due: prettier --write

fix: added flow check in pre commit hook
  .huskyrc
Due: none

added svg icons component
  lib/components/atoms/Icon/Icon.js
  lib/components/molecules/Carousel/Carousel.stories.mdx
  lib/components/molecules/Carousel/Carousel.story.js
  lib/components/molecules/CookieDisclaimer/CookieDisclaimer.js
  lib/components/molecules/Toast/Toast.js
  lib/components/molecules/Toast/Toast.stories.mdx
  lib/components/molecules/Toast/Toast.story.js
  lib/components/molecules/Toast/tests/Toast.test.js
  lib/styles/themes/base/icons/right-arrow.svg
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

feat(date-selector): added date selector to form
  .jest-test-results.json
  lib/components/atoms/Select/Select.js
  lib/components/atoms/Select/tests/__snapshots__/Select.style.test.js.snap
  lib/components/molecules/Form/FieldDateSelector/FieldDateSelector.js
  lib/components/molecules/Form/FieldDateSelector/FieldDateSelector.style.js
  lib/components/molecules/Form/FieldDateSelector/tests/__snapshots__/FieldDateSelector.test.js.snap
  lib/components/molecules/Form/tests/__snapshots__/Form.test.js.snap
  package-lock.json
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

fix(merge-develop): merge develop
  package.json
  yarn.lock
Due: prettier --write

reslove test cases
  .jest-test-results.json
  lib/components/atoms/FieldError/FieldError.stories.mdx
  lib/components/atoms/Icon/Icon.stories.mdx
  lib/components/atoms/Icon/Icon.story.js
  lib/components/atoms/Icon/tests/Icon.test.js
  lib/components/atoms/Icon/tests/__snapshots__/Icon.test.js.snap
  lib/components/molecules/Breadcrumb/Breadcrumb.stories.mdx
  lib/components/molecules/CookieDisclaimer/tests/__snapshots__/CookieDisclaimer.test.js.snap
  lib/components/molecules/Typeahead/Typeahead.stories.mdx
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

Unused file
  lib/components/atoms/Icon/tests/__snapshots__/Icon.test.js.snap
Due: none
