Repository pagesource/atomic-react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

.lintstagedrc:

{
  "*.{js,json,css,md}":[
    "prettier --write",
    "git add",
  ],
  "*.css": [
    "yarn run lint:css:fix",
  ],
  "*.js": [
    "yarn run lint:css:fix",
    "yarn run lint:js:fix"
  ],
  "*.test.js": [
    "yarn run test",
  ],
}

issue-72 | React hooks based hoc for script loading
  lib/components/hoc/WithScripts/WithScripts.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

fix/hoc will consume a component and script
  lib/components/hoc/WithScripts/WithScripts.mock.js
  lib/components/hoc/WithScripts/WithScripts.story.js
  lib/components/hoc/WithScripts/tests/__snapshots__/WithScripts.test.js.snap
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

HTML5 Progress implemented
  .jest-test-results.json
  lib/components/molecules/ProgressIndicator/ProgressIndicator.js
  lib/components/molecules/ProgressIndicator/ProgressIndicator.story.js
  lib/components/molecules/ProgressIndicator/ProgressIndicator.style.js
  lib/components/molecules/ProgressIndicator/tests/ProgressIndicator.test.js
  lib/components/molecules/ProgressIndicator/tests/__snapshots__/ProgressIndicator.test.js.snap
  lib/styles/modernCSSReset.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

Skeleton review comments
  lib/components/molecules/Skeleton/Skeleton.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

configured storybook
  babel.config.js
  lib/components/atoms/Button/docs.mdx
  storybook-mdx/addons.js
  storybook-mdx/config.js
  storybook-mdx/package-lock.json
  storybook-mdx/package.json
  storybook-mdx/theme.js
  storybook-mdx/webpack.config.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

still working on installation process
  lib/components/atoms/Button/docs.mdx
  storybook-mdx/addons.js
  storybook-mdx/config.js
  storybook-mdx/package-lock.json
  storybook-mdx/package.json
  storybook-mdx/preview-head.html
  storybook-mdx/testconfig.js
  storybook-mdx/theme.js
  storybook-mdx/webpack-old.config copy.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

still working on storybook
  storybook-mdx/_babel.config.js
  storybook-mdx/config.js
  storybook-mdx/package-lock.json
  storybook-mdx/package.json
  storybook-mdx/webpack.config.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

working on storybook
  storybook-mdx/.babelrc.js
  storybook/.storybook/.babelrc
  storybook/.storybook/addons.js
  storybook/.storybook/config.js
  storybook/.storybook/main.js
  storybook/.storybook/theme.js
  storybook/.storybook/webpack.config.js
  storybook/Button/Button.js
  storybook/Button/Button.story.js
  storybook/Button/docs.mdx
  storybook/Button/index.js
  storybook/package-lock.json
  storybook/package.json
  storybook/stories/0-Welcome.stories.js
  storybook/stories/1-Button.stories.js
  storybook/stories/Button.stories.mdx
  storybook/stories/app.js
  storybook/yarn.lock
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

fixed storybook
  .storybook/.babelrc
  .storybook/addons.js
  .storybook/config.js
  .storybook/presets.js
  .storybook/webpack.config.js
  lib/components/atoms/Button/Button.stories.mdx
  storybook/.storybook/addons.js
  storybook/.storybook/config.js
  storybook/.storybook/main.js
  storybook/.storybook/presets.js
  storybook/.storybook/preview-head.html
  storybook/.storybook/theme.js
  storybook/.storybook/webpack.config.js
  storybook/Button/Button.js
  storybook/Button/docs.mdx
  storybook/package-lock.json
  storybook/package.json
  storybook/stories/Button.stories.mdx
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

FEAT/J TEST COMMIT
  .jest-test-results.json
  test.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

feat/(jira-123)
  test.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

feat/(jira-123) added test file
  test.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

feat/(issue-179) added test file
  test.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

feat/(issue-179) added test file
  .github/test.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

feat(issue-123): added test file
  test.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

issue-11 With scripts review comments fixed
  lib/components/hoc/WithScripts/WithScripts.js
  lib/components/hoc/WithScripts/WithScripts.mock.js
  lib/components/hoc/WithScripts/WithScripts.story.js
  lib/components/hoc/WithScripts/tests/WithScripts.test.js
  lib/components/hoc/WithScripts/tests/__snapshots__/WithScripts.test.js.snap
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

issue-11 With scripts review comments fixed: test cases added
  lib/components/hoc/WithScripts/tests/WithScripts.test.js
  lib/components/hoc/WithScripts/tests/__snapshots__/WithScripts.test.js.snap
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

added react/svg module for creading svg icon in icon component
  .jest-test-results.json
  lib/components/atoms/Icon/Icon.js
  lib/components/atoms/Icon/Icon.style.js
  lib/components/atoms/Icon/tests/Icon.test.js
  lib/components/atoms/Icon/tests/__snapshots__/Icon.test.js.snap
  lib/components/molecules/Accordion/tests/Accordion.test.js
  lib/components/molecules/Skeleton/Skeleton.story.js
  package-lock.json
  package.json
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

fix(formik-to-react-hook-form): formik to react hook form
  lib/components/atoms/Input/Input.js
  lib/components/molecules/Accordion/tests/Accordion.test.js
  lib/components/molecules/Form/FieldInput/FieldInput.js
  lib/components/molecules/Form/Form.js
  lib/components/molecules/Form/Form.mock.js
  lib/components/molecules/Form/Form.story.js
  lib/components/molecules/Skeleton/Skeleton.story.js
  package.json
  yarn.lock
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

updated areal lable and role and colors
  lib/components/atoms/Icon/Icon.js
  lib/components/molecules/Toast/Toast.js
  lib/components/molecules/Toast/Toast.story.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

converted popover class component to stateless component with hooks
  lib/components/molecules/Popover/Popover.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

fix: flow issues fix
  .flowconfig
  lib/components/atoms/Anchor/Anchor.js
  lib/components/atoms/Button/Button.js
  yarn.lock
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

update select
  lib/components/atoms/Select/Select.js
  lib/components/molecules/Form/FieldSelect/FieldSelect.js
  lib/components/molecules/Form/Form.story.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

converted tabs class component to stateless component with hooks
  lib/components/molecules/Tabs/Tabs.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

update iradio
  lib/components/molecules/Form/FieldRadioGroup/FieldRadioGroup.js
  lib/components/molecules/Form/Form.mock.js
  lib/components/molecules/Form/Form.story.js
  lib/components/molecules/InputChoice/InputChoice.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

update iradio
  lib/components/molecules/Form/FieldRadioGroup/FieldRadioGroup.js
  lib/components/molecules/InputChoice/InputChoice.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

update checkbox and textarea
  lib/components/atoms/Input/Input.js
  lib/components/atoms/Textarea/Textarea.js
  lib/components/molecules/Form/FieldCheckbox/FieldCheckbox.js
  lib/components/molecules/Form/FieldTextarea/FieldTextarea.js
  lib/components/molecules/Form/Form.story.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

update toggle
  lib/components/molecules/Form/FieldToggle/FieldToggle.js
  lib/components/molecules/Form/Form.story.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

update file tag
  lib/components/molecules/Form/DragDropInput/DragDropInput.js
  lib/components/molecules/Form/FieldFileInput/FieldFileInput.js
  lib/components/molecules/Form/Form.story.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

update file tag
  lib/components/molecules/Form/FieldInput/FieldInput.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

update file tag
  package.json
Due: prettier --write

fix: upgrade package versions, flow issues
  lib/components/atoms/Button/Button.js
  lib/components/atoms/FieldError/FieldError.js
  lib/components/atoms/Heading/Heading.js
  lib/components/atoms/Icon/Icon.js
  lib/components/atoms/Icon/types/index.js
  lib/components/atoms/Image/Image.js
  lib/components/atoms/Input/Input.js
  lib/components/atoms/Para/Para.js
  lib/components/atoms/Select/Select.js
  lib/components/atoms/Tag/Tag.js
  lib/components/atoms/Textarea/Textarea.js
  lib/components/atoms/Track/Track.js
  lib/components/atoms/Video/Video.js
  lib/components/molecules/Carousel/Carousel.js
  package.json
  yarn.lock
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

update file input
  lib/components/molecules/Form/DragDropInput/DragDropInput.js
  lib/components/molecules/Form/FieldFileInput/FieldFileInput.js
  lib/components/molecules/Form/Form.js
  lib/components/molecules/Form/Form.mock.js
  lib/components/molecules/Form/Form.story.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

feature(add-commitlint): add commitlint
  .huskyrc
  .travis.yml
  package.json
  yarn.lock
Due: prettier --write

added storybook mdx configuration
  .storybook/config.js
  .storybook/main.js
  .storybook/webpack.config.js
  lib/components/atoms/Anchor/Anchor.stories.mdx
  lib/components/atoms/Button/Button.stories.mdx
  lib/components/atoms/Icon/Icon.stories.mdx
  package-lock.json
  package.json
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

fix: upgrade packages to latest version
  package.json
  yarn.lock
Due: prettier --write

feat(add-connit-lint): update commitlint
  .commitlintrc.js
  .jest-test-results.json
  yarn.lock
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

fix(lint-error): fix lint error
  .commitlintrc.js.rej
  .jest-test-results.json.rej
  lib/components/molecules/Accordion/tests/Accordion.test.js
  lib/components/molecules/Skeleton/Skeleton.story.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

feat(update-rule): update rule
  .commitlintrc.js
  .commitlintrc.js.rej
  commitLint.config.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix
