Repository pagesource/atomic-react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

.lintstagedrc:

{
  "*.{js,json,css,md}":[
    "prettier --write",
    "git add",
  ],
  "*.css": [
    "yarn run lint:css:fix",
  ],
  "*.js": [
    "yarn run lint:css:fix",
    "yarn run lint:js:fix"
  ],
  "*.test.js": [
    "yarn run test",
  ],
}

updated snapshot
  .jest-test-results.json
Due: prettier --write

updated lock file
  .jest-test-results.json
  yarn.lock
Due: prettier --write

Accordion changes
  lib/components/molecules/Accordion/Accordion.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

updated launch file
  .jest-test-results.json
  .vscode/launch.json
Due: prettier --write

updated test code
  .jest-test-results.json
  lib/components/molecules/Form/FieldInput/tests/FieldInput.test.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

updated travis config
  .jest-test-results.json
  .travis.yml
Due: prettier --write

render prop
  .jest-test-results.json
  lib/components/molecules/InputChoice/InputChoice.mock.js
  lib/components/molecules/Table/Table.js
  lib/components/molecules/Table/Table.mock.js
  lib/components/molecules/Table/Table.story.js
  lib/components/molecules/Table/Table.style.js
  lib/components/molecules/Table/tests/__snapshots__/Table.test.js.snap
  lib/components/molecules/Table/types/index.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

updated test code
  .jest-test-results.json
  .travis.yml
  lib/components/molecules/Form/tests/Form.test.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

updated test code
  lib/components/molecules/Form/tests/Form.test.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

File-Upload: Removed errors to enable build pass - 16.
  lib/components/molecules/Form/FieldInput/tests/FieldInput.test.js
  package-lock.json
  yarn.lock
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

test commit
  .jest-test-results.json
  lib/components/molecules/Form/tests/Form.test.js
  yarn.lock
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

added new component
  lib/components/hoc/PaginationHoc/PaginationHoc.js
  lib/components/hoc/PaginationHoc/PaginationHoc.mock.js
  lib/components/hoc/PaginationHoc/PaginationHoc.story.js
  lib/components/hoc/PaginationHoc/PaginationHoc.style.js
  lib/components/hoc/PaginationHoc/index.js
  lib/components/hoc/PaginationHoc/tests/PaginationHoc.test.js
  lib/components/hoc/PaginationHoc/tests/__snapshots__/PaginationHoc.test.js.snap
  lib/components/hoc/PaginationHoc/types/index.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

added pagination component
  .jest-test-results.json
  lib/components/atoms/Pagination/Pagination.js
  lib/components/atoms/Pagination/Pagination.mock.js
  lib/components/atoms/Pagination/Pagination.story.js
  lib/components/atoms/Pagination/Pagination.style.js
  lib/components/atoms/Pagination/index.js
  lib/components/atoms/Pagination/tests/Pagination.test.js
  lib/components/atoms/Pagination/tests/__snapshots__/Pagination.test.js.snap
  lib/components/atoms/Pagination/types/index.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

Toast Component with TDD
  .jest-test-results.json
  lib/components/atoms/Button/tests/__snapshots__/Button.style.test.js.snap
  lib/components/atoms/Image/tests/__snapshots__/Image.style.test.js.snap
  lib/components/atoms/Input/tests/__snapshots__/Input.style.test.js.snap
  lib/components/atoms/Select/tests/__snapshots__/Select.style.test.js.snap
  lib/components/atoms/Textarea/tests/__snapshots__/Textarea.style.test.js.snap
  lib/components/molecules/Form/FieldInput/tests/FieldInput.test.js
  lib/components/molecules/Form/FieldInput/tests/__snapshots__/FieldInput.test.js.snap
  lib/components/molecules/Form/FieldSelect/tests/FieldSelect.test.js
  lib/components/molecules/Form/FieldSelect/tests/__snapshots__/FieldSelect.test.js.snap
  lib/components/molecules/Form/FieldTextarea/tests/FieldTextarea.test.js
  lib/components/molecules/Form/FieldTextarea/tests/__snapshots__/FieldTextarea.test.js.snap
  lib/components/molecules/Form/tests/__snapshots__/Form.test.js.snap
  lib/components/molecules/Toast/Toast.js
  lib/components/molecules/Toast/Toast.story.js
  lib/components/molecules/Toast/Toast.style.js
  lib/components/molecules/Toast/tests/Toast.test.js
  package-lock.json
  yarn.lock
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

Accordion lint fixes
  lib/components/molecules/Accordion/Accordion.js
  lib/components/molecules/Accordion/Accordion.mock.js
  lib/components/molecules/Accordion/Accordion.story.js
  lib/components/molecules/Accordion/Accordion.style.js
  lib/components/molecules/Accordion/AccordionHeader/AccordionHeader.js
  lib/components/molecules/Accordion/AccordionHeader/AccordionHeader.story.js
  lib/components/molecules/Accordion/AccordionHeader/AccordionHeader.style.js
  lib/components/molecules/Accordion/AccordionHeader/tests/AccordionHeader.test.js
  lib/components/molecules/Accordion/AccordionPanel/AccordionPanel.js
  lib/components/molecules/Accordion/AccordionPanel/AccordionPanel.story.js
  lib/components/molecules/Accordion/AccordionPanel/AccordionPanel.style.js
  lib/components/molecules/Accordion/AccordionPanel/tests/AccordionPanel.test.js
  lib/components/molecules/Accordion/tests/Accordion.test.js
  lib/components/molecules/Accordion/types/index.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

Accordion fixes'
  lib/components/molecules/Accordion/tests/__snapshots__/Accordion.test.js.snap
Due: none

Toast Component Updated Code
  lib/styles/themes/base/def/colors.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

review code fixed
  .jest-test-results.json
  lib/components/atoms/Blockquote/Blockquote.js
  lib/components/atoms/Blockquote/Blockquote.mock.js
  lib/components/atoms/Blockquote/tests/Blockquote.test.js
  lib/components/atoms/Blockquote/types/index.js
  lib/components/molecules/QuoteMedia/QuoteMedia.js
  lib/components/molecules/QuoteMedia/QuoteMedia.mock.js
  lib/components/molecules/QuoteMedia/QuoteMedia.style.js
  lib/components/molecules/QuoteMedia/tests/QuoteMedia.test.js
  lib/components/molecules/QuoteMedia/tests/__snapshots__/QuoteMedia.test.js.snap
  lib/components/molecules/QuoteMedia/types/index.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

render prop in table
  .jest-test-results.json
  lib/components/molecules/Table/Table.js
  lib/components/molecules/Table/tests/Table.test.js
  lib/components/molecules/Table/tests/__snapshots__/Table.test.js.snap
  lib/components/molecules/Table/types/index.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

updated code
  lib/components/molecules/Typeahead/Typeahead.js
  lib/components/molecules/Typeahead/Typeahead.story.js
  lib/components/molecules/Typeahead/Typeahead.style.js
  lib/components/molecules/Typeahead/tests/Typeahead.test.js
  lib/components/molecules/Typeahead/types/index.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

inhanced suggestions
  lib/components/molecules/Search/Search.js
  lib/components/molecules/Search/Search.story.js
  lib/components/molecules/Search/Search.style.js
  lib/core/hooks/useSpeechRecognition.js
  lib/static/images/search-loader.gif
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

initial draft
  .jest-test-results.json
  lib/components/molecules/StickyBar/StickyBar.js
  lib/components/molecules/StickyBar/StickyBar.mock.js
  lib/components/molecules/StickyBar/StickyBar.story.js
  lib/components/molecules/StickyBar/StickyBar.style.js
  lib/components/molecules/StickyBar/tests/StickyBar.test.js
  lib/components/molecules/StickyBar/tests/__snapshots__/StickyBar.test.js.snap
  lib/components/molecules/StickyBar/types/index.js
  package-lock.json
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

fix feedback
  .jest-test-results.json
  lib/components/atoms/Image/tests/Image.test.js
  lib/components/atoms/Video/Video.js
  lib/components/atoms/Video/Video.mock.js
  lib/components/atoms/Video/tests/Video.test.js
  lib/components/atoms/Video/tests/__snapshots__/Video.test.js.snap
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

fix feedback
  .jest-test-results.json
  package-lock.json
Due: prettier --write

remove a test case
  lib/components/atoms/Video/tests/Video.test.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

File-Upload: Removed errors to enable build pass - 17.
  lib/components/molecules/Form/tests/Form.test.js
  lib/components/molecules/Form/tests/__snapshots__/Form.test.js.snap
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

File-Upload: Removed errors to enable build pass - 18.
  lib/components/molecules/Form/tests/Form.test.js
  lib/components/molecules/Form/tests/__snapshots__/Form.test.js.snap
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

update test case
  .jest-test-results.json
Due: prettier --write

File-Upload: Removed errors to enable build pass - 19.
  lib/components/molecules/Form/DDFileInput/DDFileInput.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

remove the fixes from anchor.js
  .jest-test-results.json
  lib/components/atoms/Anchor/Anchor.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

File-Upload: Removed errors to enable build pass - 20.
  lib/components/molecules/Form/DDFileInput/tests/DDFileInput.test.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

remove react-render-test package
  .jest-test-results.json
  package.json
  yarn.lock
Due: prettier --write

remove the fixes from files
  lib/components/atoms/Track/Track.style.js
  lib/components/molecules/ArticleThumbnail/ArticleThumbnail.js
  lib/components/molecules/List/List.js
  lib/components/molecules/Tabs/Tab/Tab.js
  lib/components/molecules/Tabs/TabPanel/TabPanel.js
  lib/components/molecules/Tabs/Tabs.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

remove the fixes from files
  .jest-test-results.json
  lib/components/atoms/Video/types/index.js
  lib/components/molecules/ArticleThumbnail/ArticleThumbnail.js
  lib/components/molecules/ArticleThumbnail/tests/__snapshots__/ArticleThumbnail.test.js.snap
  lib/components/molecules/List/List.js
  lib/components/molecules/List/tests/__snapshots__/List.test.js.snap
  lib/components/molecules/Tabs/Tab/Tab.js
  lib/components/molecules/Tabs/Tab/tests/__snapshots__/Tab.test.js.snap
  lib/components/molecules/Tabs/TabPanel/tests/__snapshots__/TabPanel.test.js.snap
  lib/components/molecules/Tabs/Tabs.js
  lib/components/molecules/Tabs/tests/__snapshots__/Tabs.test.js.snap
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

File-Upload: Removed errors to enable build pass - 20.
  lib/components/molecules/Form/DDFileInput/DDFileInput.js
  lib/components/molecules/Form/DDFileInput/tests/DDFileInput.test.js
  lib/components/molecules/Form/FieldFileInput/FieldFileInput.js
  lib/core/utils/useOpenFileDialog.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

remove the fixes from files
  lib/components/molecules/Tabs/TabPanel/TabPanel.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

File-Upload: Removed errors to enable build pass - 21.
  lib/components/molecules/Form/DDFileInput/DDFileInput.js
  lib/components/molecules/Form/DDFileInput/tests/DDFileInput.test.js
  lib/components/molecules/Form/FieldFileInput/FieldFileInput.js
  lib/core/utils/useOpenFileDialog.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test
