Repository pagesource/atomic-react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

.lintstagedrc:

{
  "*.{js,json,css,md}":[
    "prettier --write",
    "git add",
  ],
  "*.css": [
    "yarn run lint:css:fix",
  ],
  "*.js": [
    "yarn run lint:css:fix",
    "yarn run lint:js:fix"
  ],
  "*.test.js": [
    "yarn run test",
  ],
}

added one more test
  lib/components/molecules/Typeahead/tests/Typeahead.test.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

Implemented Icon Component
  .jest-test-results.json
  lib/components/atoms/Button/tests/__snapshots__/Button.style.test.js.snap
  lib/components/atoms/Icon/Icon.js
  lib/components/atoms/Icon/Icon.mock.js
  lib/components/atoms/Icon/Icon.story.js
  lib/components/atoms/Icon/Icon.style.js
  lib/components/atoms/Icon/index.js
  lib/components/atoms/Icon/tests/Icon.test.js
  lib/components/atoms/Icon/tests/__snapshots__/Icon.test.js.snap
  lib/components/atoms/Icon/types/index.js
  lib/components/atoms/Input/tests/__snapshots__/Input.style.test.js.snap
  lib/components/atoms/Select/tests/__snapshots__/Select.style.test.js.snap
  lib/components/atoms/Textarea/tests/__snapshots__/Textarea.style.test.js.snap
  lib/styles/themes/base/def/icons.js
  lib/styles/themes/base/def/index.js
  yarn.lock
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

edit key value
  .jest-test-results.json
  lib/components/molecules/Table/Table.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

'DateSelector'
  lib/components/molecules/DateSelector/tests/DateSelector.test.js
  lib/components/molecules/DateSelector/types/index.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

'DateSelector'
  lib/components/molecules/DateSelector/tests/__snapshots__/DateSelector.test.js.snap
Due: none

Cookie Disclaimer: Styled Components Checked in
  lib/components/molecules/CookieDisclaimer/CookieDisclaimer.js
  lib/components/molecules/CookieDisclaimer/CookieDisclaimer.mock.js
  lib/components/molecules/CookieDisclaimer/CookieDisclaimer.story.js
  lib/components/molecules/CookieDisclaimer/CookieDisclaimer.style.js
  lib/components/molecules/CookieDisclaimer/tests/CookieDisclaimer.test.js
  lib/components/molecules/CookieDisclaimer/types/index.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

File-Upload: Review comments implementation.
  lib/components/atoms/Button/tests/__snapshots__/Button.style.test.js.snap
  lib/components/atoms/Input/tests/__snapshots__/Input.style.test.js.snap
  lib/components/atoms/Select/tests/__snapshots__/Select.style.test.js.snap
  lib/components/atoms/Textarea/tests/__snapshots__/Textarea.style.test.js.snap
  lib/components/molecules/Form/DragDropInput/DragDropInput.js
  lib/components/molecules/Form/DragDropInput/tests/DragDropInput.test.js
  lib/components/molecules/Form/FieldFileInput/FieldFileInput.js
  lib/components/molecules/Form/FieldFileInput/FieldFileInput.style.js
  lib/hooks/useDragandDrop.js
  lib/hooks/useOpenFileDialog.js
  lib/styles/themes/base/def/border.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

File-Upload: Review comments implementation.
  lib/components/atoms/Button/tests/__snapshots__/Button.style.test.js.snap
  lib/components/atoms/Image/tests/__snapshots__/Image.style.test.js.snap
  lib/components/atoms/Input/tests/__snapshots__/Input.style.test.js.snap
  lib/components/atoms/Textarea/tests/__snapshots__/Textarea.style.test.js.snap
  lib/components/molecules/Form/FieldInput/tests/__snapshots__/FieldInput.test.js.snap
  lib/components/molecules/Form/FieldTextarea/tests/__snapshots__/FieldTextarea.test.js.snap
Due: none

Resolved Conflicts
  lib/components/atoms/Button/tests/__snapshots__/Button.style.test.js.snap
  lib/components/atoms/Image/tests/__snapshots__/Image.style.test.js.snap
  lib/components/atoms/Input/tests/__snapshots__/Input.style.test.js.snap
  lib/components/atoms/Select/tests/__snapshots__/Select.style.test.js.snap
  lib/components/atoms/Textarea/tests/__snapshots__/Textarea.style.test.js.snap
  lib/components/molecules/Form/FieldInput/tests/__snapshots__/FieldInput.test.js.snap
  lib/components/molecules/Form/FieldSelect/tests/__snapshots__/FieldSelect.test.js.snap
  lib/components/molecules/Form/FieldTextarea/tests/__snapshots__/FieldTextarea.test.js.snap
Due: none

Toggle
  lib/components/molecules/Form/FieldToggle/FieldToggle.js
  lib/components/molecules/Form/FieldToggle/tests/FieldToggle.test.js
  lib/components/molecules/Form/FieldToggle/tests/__snapshots__/FieldToggle.test.js.snap
  lib/components/molecules/Form/Form.mock.js
  stylelint.config.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

DateSelector
  lib/components/molecules/DateSelector/DateSelector.js
  lib/components/molecules/DateSelector/DateSelector.mock.js
  lib/components/molecules/DateSelector/DateSelector.story.js
  lib/components/molecules/DateSelector/DateSelector.style.js
  lib/components/molecules/DateSelector/tests/__snapshots__/DateSelector.test.js.snap
  lib/components/molecules/DateSelector/types/index.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

pr review comment has updated
  lib/components/molecules/Search/Search.js
  lib/components/molecules/Search/Search.mock.js
  lib/components/molecules/Search/tests/__snapshots__/Search.test.js.snap
  lib/core/hooks/speechRecognition/tests/useSpeechRecognition.test.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

fixed js linting issue
  lib/core/hooks/speechRecognition/tests/useSpeechRecognition.test.js
  lib/core/hooks/speechRecognition/useSpeechRecognition.mock.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

Resolved Conflicts
  .jest-test-results.json
Due: prettier --write

fixed linting issue
  .jest-test-results.json
Due: prettier --write

added minCharactersRequired
  lib/components/molecules/Typeahead/Typeahead.js
  lib/components/molecules/Typeahead/Typeahead.story.js
  lib/components/molecules/Typeahead/types/index.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

commented the test cases failing on travis
  lib/components/molecules/Typeahead/tests/Typeahead.test.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

fixed issue pressing down arrow key on last item should move to first item of the list
  lib/components/molecules/Typeahead/Typeahead.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

Cookie Disclaimer: Styled Components Checked in
  config/jest.config.js
  lib/components/atoms/Button/tests/__snapshots__/Button.style.test.js.snap
  lib/components/atoms/Heading/tests/__snapshots__/Heading.test.js.snap
  lib/components/atoms/Input/tests/__snapshots__/Input.style.test.js.snap
  lib/components/atoms/Para/tests/__snapshots__/Para.test.js.snap
  lib/components/atoms/Select/tests/__snapshots__/Select.style.test.js.snap
  lib/components/atoms/Textarea/tests/__snapshots__/Textarea.style.test.js.snap
  lib/components/molecules/CookieDisclaimer/CookieDisclaimer.js
  lib/components/molecules/CookieDisclaimer/CookieDisclaimer.mock.js
  lib/components/molecules/CookieDisclaimer/CookieDisclaimer.story.js
  lib/components/molecules/CookieDisclaimer/CookieDisclaimer.style.js
  lib/components/molecules/CookieDisclaimer/types/index.js
  lib/styles/themes/base/def/icons.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

update snapshots
  .jest-test-results.json
  lib/components/atoms/Button/tests/__snapshots__/Button.style.test.js.snap
  lib/components/atoms/Image/tests/__snapshots__/Image.style.test.js.snap
  lib/components/atoms/Input/tests/__snapshots__/Input.style.test.js.snap
  lib/components/atoms/Textarea/tests/__snapshots__/Textarea.style.test.js.snap
  lib/components/molecules/Form/FieldInput/tests/__snapshots__/FieldInput.test.js.snap
  lib/components/molecules/Form/FieldTextarea/tests/__snapshots__/FieldTextarea.test.js.snap
  yarn.lock
Due: prettier --write

Prop Name changes
  lib/components/molecules/Form/FieldToggle/FieldToggle.js
  lib/components/molecules/Form/FieldToggle/FieldToggle.style.js
  lib/components/molecules/Form/FieldToggle/tests/FieldToggle.test.js
  lib/components/molecules/Form/FieldToggle/tests/__snapshots__/FieldToggle.test.js.snap
  lib/components/molecules/Form/FieldToggle/types/index.js
  lib/components/molecules/Form/Form.mock.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

refactor storybook and mock data
  lib/components/molecules/StickyBar/StickyBar.mock.js
  lib/components/molecules/StickyBar/StickyBar.story.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

Cookie Disclaimer: Styled Components Checked in
  config/jest.config.js
  lib/components/atoms/Button/tests/__snapshots__/Button.style.test.js.snap
  lib/components/atoms/Input/tests/__snapshots__/Input.style.test.js.snap
  lib/components/atoms/Select/tests/__snapshots__/Select.style.test.js.snap
  lib/components/atoms/Textarea/tests/__snapshots__/Textarea.style.test.js.snap
  lib/components/molecules/CookieDisclaimer/CookieDisclaimer.js
  lib/components/molecules/CookieDisclaimer/CookieDisclaimer.style.js
  lib/styles/themes/base/def/icons.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

Accordion changes'
  lib/components/molecules/Accordion/Accordion.js
  lib/components/molecules/Accordion/Accordion.mock.js
  lib/components/molecules/Accordion/tests/Accordion.test.js
  lib/components/molecules/Accordion/tests/__snapshots__/Accordion.test.js.snap
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

updated snapshot
  .jest-test-results.json
  lib/components/atoms/Button/tests/__snapshots__/Button.style.test.js.snap
  lib/components/atoms/Input/tests/__snapshots__/Input.style.test.js.snap
  lib/components/atoms/Select/tests/__snapshots__/Select.style.test.js.snap
  lib/components/atoms/Textarea/tests/__snapshots__/Textarea.style.test.js.snap
  lib/components/molecules/Form/FieldToggle/FieldToggle.style.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

Updated test cases'
  lib/components/atoms/Button/tests/__snapshots__/Button.style.test.js.snap
  lib/components/atoms/Image/tests/__snapshots__/Image.style.test.js.snap
  lib/components/atoms/Input/tests/__snapshots__/Input.style.test.js.snap
  lib/components/atoms/Textarea/tests/__snapshots__/Textarea.style.test.js.snap
  lib/components/molecules/Accordion/tests/__snapshots__/Accordion.test.js.snap
  lib/components/molecules/Form/FieldInput/tests/__snapshots__/FieldInput.test.js.snap
  lib/components/molecules/Form/FieldTextarea/tests/__snapshots__/FieldTextarea.test.js.snap
Due: none

refactor code
  .jest-test-results.json
  lib/components/molecules/StickyBar/StickyBar.story.js
  lib/components/molecules/StickyBar/tests/StickyBar.test.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

refactor style code
  lib/components/molecules/StickyBar/StickyBar.style.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

Exported the component out of lib
  lib/index.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

Cookie Disclaimer: Styled Components Checked in
  lib/components/molecules/CookieDisclaimer/CookieDisclaimer.js
  lib/components/molecules/CookieDisclaimer/CookieDisclaimer.style.js
  lib/components/molecules/CookieDisclaimer/tests/CookieDisclaimer.test.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

File-Upload: Review comments implementation.
  .jest-test-results.json
  lib/components/molecules/Form/FieldFileInput/FieldFileInput.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

review changes incorporated
  lib/components/molecules/Form/FieldToggle/FieldToggle.js
  lib/components/molecules/Form/FieldToggle/FieldToggle.style.js
  lib/components/molecules/Form/FieldToggle/tests/FieldToggle.test.js
  lib/components/molecules/Form/FieldToggle/tests/__snapshots__/FieldToggle.test.js.snap
  lib/components/molecules/Form/FieldToggle/types/index.js
  lib/components/molecules/Form/Form.mock.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

File-Upload: Review comments implementation.
  lib/components/molecules/Form/DragDropInput/DragDropInput.js
  lib/components/molecules/Form/DragDropInput/tests/DragDropInput.test.js
  lib/hooks/useDragandDrop.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

File-Upload: Review comments implementation.
  lib/components/molecules/Form/DragDropInput/DragDropInput.js
  lib/components/molecules/Form/DragDropInput/tests/DragDropInput.test.js
  lib/hooks/useDragNDrop.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

Review comments implemented
  lib/components/molecules/StickyHeader/StickyHeader.js
  lib/components/molecules/StickyHeader/StickyHeader.story.js
  lib/components/molecules/StickyHeader/StickyHeader.style.js
  lib/components/molecules/StickyHeader/types/index.js
  utils/util.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

Accordion review comments incorporated
  lib/components/molecules/Accordion/Accordion.js
  lib/components/molecules/Accordion/tests/__snapshots__/Accordion.test.js.snap
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

Accordion changes
  lib/components/molecules/Accordion/Accordion.js
  lib/components/molecules/Accordion/tests/__snapshots__/Accordion.test.js.snap
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

File-Upload: Review comments implementation.
  lib/components/molecules/Form/DragDropInput/DragDropInput.js
  lib/components/molecules/Form/DragDropInput/index.js
  lib/components/molecules/Form/DragDropInput/tests/DragDropInput.test.js
  lib/components/molecules/Form/DragDropInput/tests/__snapshots__/DragDropInput.test.js.snap
  lib/components/molecules/Form/FieldCheckbox/tests/FieldCheckbox.test.js
  lib/components/molecules/Form/FieldCheckbox/tests/__snapshots__/FieldCheckBox.test.js.snap
  lib/components/molecules/Form/FieldFileInput/FieldFileInput.js
  lib/components/molecules/Form/FieldFileInput/index.js
  lib/components/molecules/Form/FieldFileInput/tests/FieldFileInput.test.js
  lib/components/molecules/Form/FieldFileInput/tests/__snapshots__/FieldFileInput.test.js.snap
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

feat(#85): tag component
  lib/components/atoms/Button/Button.js
  lib/components/atoms/Button/Button.style.js
  lib/components/atoms/Tag/Tag.js
  lib/components/atoms/Tag/Tag.mock.js
  lib/components/atoms/Tag/Tag.story.js
  lib/components/atoms/Tag/Tag.style.js
  lib/components/atoms/Tag/index.js
  lib/components/atoms/Tag/tests/Tag.test.js
  lib/components/atoms/Tag/tests/__snapshots__/Tag.test.js.snap
  lib/components/atoms/Tag/types/index.js
  lib/styles/themes/base/def/border.js
  lib/styles/themes/base/def/colors.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test
