Repository pagesource/atomic-react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

.lintstagedrc:

{
  "*.{js,json,css,md}":[
    "prettier --write",
    "git add",
  ],
  "*.css": [
    "yarn run lint:css:fix",
  ],
  "*.js": [
    "yarn run lint:css:fix",
    "yarn run lint:js:fix"
  ],
  "*.test.js": [
    "yarn run test",
  ],
}

Added default prop on mock
  config/jest.setup.js
  lib/components/molecules/Form/FieldInput/FieldInput.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

Test errors fix
  .jest-test-results.json
  __mock__/themeMock.js
  config/jest.config.js
  lib/components/atoms/Button/tests/__snapshots__/Button.style.test.js.snap
  lib/components/atoms/Input/Input.style.js
  lib/components/atoms/Input/tests/__snapshots__/Input.style.test.js.snap
  lib/components/atoms/Para/Para.style.js
  lib/components/atoms/Select/Select.style.js
  lib/components/atoms/Select/tests/__snapshots__/Select.style.test.js.snap
  lib/components/atoms/Textarea/Textarea.style.js
  lib/components/atoms/Textarea/tests/__snapshots__/Textarea.style.test.js.snap
  lib/components/molecules/Form/FieldInput/FieldInput.style.js
  lib/components/molecules/Form/FieldInput/tests/FieldInput.style.test.js
  lib/components/molecules/Form/FieldInput/tests/FieldInput.test.js
  lib/components/molecules/Form/FieldInput/tests/__snapshots__/FieldInput.style.test.js.snap
  lib/components/molecules/Form/FieldRadioGroup/FieldRadioGroup.style.js
  lib/components/molecules/Form/FieldSelect/FieldSelect.style.js
  lib/components/molecules/Form/FieldSelect/tests/FieldSelect.style.test.js
  lib/components/molecules/Form/FieldSelect/tests/FieldSelect.test.js
  lib/components/molecules/Form/FieldSelect/tests/__snapshots__/FieldSelect.style.test.js.snap
  lib/components/molecules/Form/FieldTextarea/FieldTextarea.style.js
  lib/components/molecules/Form/FieldTextarea/tests/FieldTextarea.style.test.js
  lib/components/molecules/Form/FieldTextarea/tests/FieldTextarea.test.js
  lib/components/molecules/Form/FieldTextarea/tests/__snapshots__/FieldTextarea.style.test.js.snap
  lib/components/molecules/Form/tests/Form.test.js
  lib/components/molecules/InputChoice/tests/InputChoice.style.test.js
  lib/components/molecules/InputChoice/tests/__snapshots__/InputChoice.style.test.js.snap
  lib/components/molecules/Tabs/Tabs.style.js
  lib/styles/themes/base/def/border.js
  lib/styles/themes/base/def/colors.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

Added CSS loader to build
  config/dist.webpack.config.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

Test errors fix
  .jest-test-results.json
  lib/components/molecules/Form/FieldInput/tests/__snapshots__/FieldInput.test.js.snap
  lib/components/molecules/Form/FieldSelect/tests/__snapshots__/FieldSelect.test.js.snap
  lib/components/molecules/Form/FieldTextarea/tests/__snapshots__/FieldTextarea.test.js.snap
  lib/components/molecules/Form/tests/__snapshots__/Form.test.js.snap
Due: prettier --write

Review Comments Fixed
  .jest-test-results.json
  .lintstagedrc
  lib/components/atoms/Button/Button.style.js
  lib/components/atoms/Button/tests/__snapshots__/Button.style.test.js.snap
  lib/components/atoms/Input/Input.style.js
  lib/components/atoms/Input/tests/__snapshots__/Input.style.test.js.snap
  lib/components/atoms/Select/Select.style.js
  lib/components/atoms/Select/tests/__snapshots__/Select.style.test.js.snap
  lib/components/atoms/Textarea/Textarea.style.js
  lib/components/atoms/Textarea/tests/__snapshots__/Textarea.style.test.js.snap
  lib/components/molecules/Form/FieldInput/FieldInput.style.js
  lib/components/molecules/Form/FieldRadioGroup/FieldRadioGroup.style.js
  lib/components/molecules/Form/FieldSelect/FieldSelect.style.js
  lib/components/molecules/Form/FieldTextarea/FieldTextarea.style.js
  lib/components/molecules/List/List.style.js
  lib/styles/themes/base/def/spacing.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

<fix>(<error>): <passing data from mock to story>
  .jest-test-results.json
  .storybook/config.js
  .vscode/launch.json
  lib/components/atoms/Track/Track.js
  lib/components/atoms/Track/Track.mock.js
  lib/components/atoms/Track/Track.story.js
  lib/components/atoms/Track/Track.style.js
  lib/components/atoms/Track/index.js
  lib/components/atoms/Track/tests/Track.test.js
  lib/components/atoms/Track/types/index.js
  lib/components/atoms/Video/Video.js
  lib/components/atoms/Video/Video.mock.js
  lib/components/atoms/Video/Video.story.js
  lib/components/atoms/Video/Video.style.js
  lib/components/atoms/Video/index.js
  lib/components/atoms/Video/tests/Video.test.js
  lib/components/atoms/Video/tests/__snapshots__/Video.test.js.snap
  lib/components/atoms/Video/types/index.js
  package-lock.json
  package.json
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

make static
  .jest-test-results.json
  .storybook/config.js
  lib/components/molecules/RenderTable/RenderTable.js
  lib/components/molecules/RenderTable/RenderTable.story.js
  lib/components/molecules/RenderTable/tests/RenderTable.test.js
  lib/components/molecules/RenderTable/tests/__snapshots__/RenderTable.test.js.snap
  yarn.lock
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

Tests Re-run
  .jest-test-results.json
Due: prettier --write

Documentation for test mock
  readme/Test.md
Due: prettier --write

merge
  .jest-test-results.json
Due: prettier --write

rename render table to table
  .jest-test-results.json
  .storybook/config.js
  lib/components/atoms/Column/Column.js
  lib/components/atoms/Column/Column.mock.js
  lib/components/atoms/Column/Column.story.js
  lib/components/atoms/Column/Column.style.js
  lib/components/atoms/Column/index.js
  lib/components/atoms/Column/tests/Column.test.js
  lib/components/molecules/RenderTable/RenderTable.story.js
  lib/components/molecules/RenderTable/index.js
  lib/components/molecules/RenderTable/types/index.js
  lib/components/molecules/Table/Table.js
  lib/components/molecules/Table/Table.mock.js
  lib/components/molecules/Table/Table.story.js
  lib/components/molecules/Table/Table.style.js
  lib/components/molecules/Table/index.js
  lib/components/molecules/Table/tests/Table.test.js
  lib/components/molecules/Table/tests/__snapshots__/Table.test.js.snap
  lib/components/molecules/Table/types/index.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

remove track from seperate atom
  .jest-test-results.json
  .vscode/launch.json
  lib/components/atoms/Track/Track.js
  lib/components/atoms/Track/Track.mock.js
  lib/components/atoms/Track/Track.story.js
  lib/components/atoms/Track/Track.style.js
  lib/components/atoms/Track/index.js
  lib/components/atoms/Track/tests/Track.test.js
  lib/components/atoms/Track/types/index.js
  lib/components/atoms/Video/Video.js
  lib/components/atoms/Video/Video.mock.js
  lib/components/atoms/Video/Video.story.js
  lib/components/atoms/Video/tests/Video.test.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

<update story>
  lib/components/atoms/Video/Video.js
  lib/components/atoms/Video/Video.story.js
  lib/components/atoms/Video/tests/Video.test.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

Review comment added
  lib/components/molecules/StickyHeader/StickyHeader.css
  lib/components/molecules/StickyHeader/StickyHeader.js
  lib/components/molecules/StickyHeader/StickyHeader.story.js
  lib/components/molecules/StickyHeader/StickyHeader.style.js
  lib/components/molecules/StickyHeader/types/index.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

initial draft StickyBar
  .jest-test-results.json
  .storybook/config.js
  lib/components/molecules/StickyBar/StickyBar.js
  lib/components/molecules/StickyBar/StickyBar.mock.js
  lib/components/molecules/StickyBar/StickyBar.story.js
  lib/components/molecules/StickyBar/StickyBar.style.js
  lib/components/molecules/StickyBar/index.js
  lib/components/molecules/StickyBar/tests/StickyBar.test.js
  lib/components/molecules/StickyBar/types/index.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

Skipped the major breaking Tests, to be addressed later
  .jest-test-results.json
  .vscode/launch.json
  config/jest.config.js
  lib/components/molecules/Form/FieldInput/tests/FieldInput.test.js
  lib/components/molecules/Form/FieldInput/tests/__snapshots__/FieldInput.test.js.snap
  lib/components/molecules/Form/FieldSelect/tests/FieldSelect.test.js
  lib/components/molecules/Form/FieldSelect/tests/__snapshots__/FieldSelect.test.js.snap
  lib/components/molecules/Form/FieldTextarea/tests/FieldTextarea.test.js
  lib/components/molecules/Form/FieldTextarea/tests/__snapshots__/FieldTextarea.test.js.snap
  lib/components/molecules/Form/tests/__snapshots__/Form.test.js.snap
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

Implemented carousel with test cases.
  .jest-test-results.json
  .storybook/config.js
  lib/components/molecules/AtomicCarousel/AtomicCarousel.js
  lib/components/molecules/AtomicCarousel/AtomicCarousel.mock.js
  lib/components/molecules/AtomicCarousel/AtomicCarousel.story.js
  lib/components/molecules/AtomicCarousel/AtomicCarousel.style.js
  lib/components/molecules/AtomicCarousel/images/1.jpg
  lib/components/molecules/AtomicCarousel/images/2.jpg
  lib/components/molecules/AtomicCarousel/images/3.jpg
  lib/components/molecules/AtomicCarousel/images/4.jpg
  lib/components/molecules/AtomicCarousel/index.js
  lib/components/molecules/AtomicCarousel/tests/AtomicCarousel.test.js
  lib/components/molecules/AtomicCarousel/tests/__snapshots__/AtomicCarousel.test.js.snap
  lib/components/molecules/AtomicCarousel/types/index.js
  lib/components/molecules/AtomicCarousel/useInterval.hook.js
  lib/styles/themes/base/def/icons.js
  lib/styles/themes/base/def/index.js
  lib/styles/themes/base/icons/left-arrow.svg
  lib/styles/themes/base/icons/pause.svg
  lib/styles/themes/base/icons/play.svg
  lib/styles/themes/base/icons/right-arrow.svg
  package-lock.json
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

Review comments implemented
  lib/components/molecules/StickyHeader/StickyHeader.css
  lib/components/molecules/StickyHeader/StickyHeader.js
  lib/components/molecules/StickyHeader/StickyHeader.story.js
  lib/components/molecules/StickyHeader/StickyHeader.style.js
  lib/components/molecules/StickyHeader/tests/StickyHeader.test.js
  lib/components/molecules/StickyHeader/types/index.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

Review comments implemented
  lib/components/molecules/StickyHeader/StickyHeader.css
Due: prettier --write, yarn run lint:css:fix

add launch json
  .vscode/launch.json
Due: prettier --write

Review comments implemented
  lib/components/molecules/StickyHeader/StickyHeader.style.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

feedback implemented
  .gitignore
  .jest-test-results.json
  lib/components/atoms/Button/tests/__snapshots__/Button.style.test.js.snap
  lib/components/atoms/Image/tests/__snapshots__/Image.style.test.js.snap
  lib/components/atoms/Input/tests/__snapshots__/Input.style.test.js.snap
  lib/components/atoms/Textarea/tests/__snapshots__/Textarea.style.test.js.snap
  lib/components/atoms/Video/Video.story.js
  lib/components/atoms/Video/tests/Video.test.js
  lib/components/atoms/Video/tests/__snapshots__/Video.test.js.snap
  lib/components/molecules/Form/FieldInput/tests/__snapshots__/FieldInput.style.test.js.snap
  lib/components/molecules/Form/FieldInput/tests/__snapshots__/FieldInput.test.js.snap
  lib/components/molecules/Form/FieldSelect/tests/__snapshots__/FieldSelect.style.test.js.snap
  lib/components/molecules/Form/FieldSelect/tests/__snapshots__/FieldSelect.test.js.snap
  lib/components/molecules/Form/FieldTextarea/tests/__snapshots__/FieldTextarea.style.test.js.snap
  lib/components/molecules/Form/FieldTextarea/tests/__snapshots__/FieldTextarea.test.js.snap
  lib/components/molecules/InputChoice/tests/__snapshots__/InputChoice.style.test.js.snap
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

File-Upload: Removed errors to enable build pass.
  lib/components/atoms/FileInput/FileInput.js
  lib/components/atoms/FileInput/tests/FileInput.test.js
  lib/components/atoms/Input/Input.js
  lib/components/molecules/Form/DDFileInput/DDFileInput.js
  lib/components/molecules/Form/DDFileInput/tests/DDFileInput.test.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

Add MDX Support for Storybook
  .storybook/presets.js
  package.json
  yarn.lock
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

File-Upload: Removed errors to enable build pass -1.
  lib/components/atoms/FileInput/FileInput.js
  lib/components/atoms/FileInput/tests/__snapshots__/FileInput.test.js.snap
  lib/components/atoms/Input/Input.js
  lib/components/molecules/Form/DDFileInput/DDFileInput.js
  lib/components/molecules/Form/DDFileInput/tests/DDFileInput.test.js
  lib/components/molecules/Form/DDFileInput/tests/__snapshots__/DDFileInput.test.js.snap
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

Increase test threashold
  .lintstagedrc
  config/jest.config.js
  config/jest.setup.js
  package.json
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

File-Upload: Removed errors to enable build pass -2.
  lib/components/atoms/FileInput/FileInput.js
  lib/components/atoms/Input/Input.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

File-Upload: Removed errors to enable build pass -3.
  lib/components/atoms/FileInput/FileInput.js
  lib/components/atoms/Input/Input.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

toast file
  .vscode/launch.json
  lib/components/molecules/Toast/Toast.js
  lib/components/molecules/Toast/Toast.mock.js
  lib/components/molecules/Toast/Toast.story.js
  lib/components/molecules/Toast/Toast.style.js
  lib/components/molecules/Toast/index.js
  lib/components/molecules/Toast/tests/Toast.test.js
  lib/components/molecules/Toast/tests/__snapshots__/Toast.test.js.snap
  lib/components/molecules/Toast/types/index.js
  package-lock.json
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

feddback implemented
  lib/components/atoms/Video/Video.mock.js
  lib/components/atoms/Video/Video.story.js
  lib/components/atoms/Video/types/index.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

build issue
  .gitignore
  .jest-test-results.json
  config/jest.config.js
  lib/components/molecules/Table/Table.js
  lib/components/molecules/Table/tests/Table.test.js
  lib/components/molecules/Table/types/index.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

File-Upload: Removed errors to enable build pass -4.
  lib/components/atoms/Button/tests/__snapshots__/Button.style.test.js.snap
  lib/components/atoms/FileInput/FileInput.story.js
  lib/components/atoms/FileInput/tests/FileInput.test.js
  lib/components/atoms/Input/tests/__snapshots__/Input.style.test.js.snap
  lib/components/atoms/Select/tests/__snapshots__/Select.style.test.js.snap
  lib/components/atoms/Textarea/tests/__snapshots__/Textarea.style.test.js.snap
  lib/components/molecules/Form/DDFileInput/tests/DDFileInput.test.js
  lib/components/molecules/Form/FieldFileInput/tests/FieldFileInput.test.js
  lib/components/molecules/Form/FieldFileInput/tests/__snapshots__/FieldFileInput.test.js.snap
  lib/components/molecules/Form/FieldInput/tests/__snapshots__/FieldInput.test.js.snap
  lib/components/molecules/Form/FieldSelect/tests/__snapshots__/FieldSelect.test.js.snap
  lib/components/molecules/Form/FieldTextarea/tests/__snapshots__/FieldTextarea.test.js.snap
  lib/components/molecules/Form/tests/__snapshots__/Form.test.js.snap
  lib/components/molecules/InputChoice/tests/__snapshots__/InputChoice.test.js.snap
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

File-Upload: Removed errors to enable build pass -5.
  lib/components/molecules/Form/FieldFileInput/tests/FieldFileInput.test.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

resolved some conflicts
  .gitignore
  .jest-test-results.json
  .storybook/config.js
  lib/components/atoms/Video/tests/Video.test.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

Accordion component
  lib/components/molecules/Accordion/Accordion.js
  lib/components/molecules/Accordion/Accordion.mock.js
  lib/components/molecules/Accordion/Accordion.story.js
  lib/components/molecules/Accordion/Accordion.style.js
  lib/components/molecules/Accordion/index.js
  lib/components/molecules/Accordion/tests/Accordion.test.js
  lib/components/molecules/Accordion/tests/__snapshots__/Accordion.test.js.snap
  lib/components/molecules/Accordion/types/index.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

File-Upload: Removed errors to enable build pass -6.
  .jest-test-results.json
  lib/components/molecules/Form/FieldFileInput/tests/FieldFileInput.test.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

disable flow
  lib/components/molecules/Table/Table.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

File-Upload: Removed errors to enable build pass - 7.
  lib/components/molecules/Form/DDFileInput/tests/DDFileInput.test.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

File-Upload: Removed errors to enable build pass - 8.
  lib/components/molecules/Form/DDFileInput/tests/DDFileInput.test.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

added pagination HOC
  .jest-test-results.json
  lib/components/atoms/Pagination/Pagination.js
  lib/components/atoms/Pagination/Pagination.mock.js
  lib/components/atoms/Pagination/Pagination.story.js
  lib/components/atoms/Pagination/Pagination.style.js
  lib/components/atoms/Pagination/index.js
  lib/components/atoms/Pagination/tests/Pagination.test.js
  lib/components/atoms/Pagination/tests/__snapshots__/Pagination.test.js.snap
  lib/components/atoms/Pagination/types/index.js
  lib/components/hoc/PaginationHoc/PaginationHoc.js
  lib/components/hoc/PaginationHoc/PaginationHoc.mock.js
  lib/components/hoc/PaginationHoc/PaginationHoc.story.js
  lib/components/hoc/PaginationHoc/PaginationHoc.style.js
  lib/components/hoc/PaginationHoc/index.js
  lib/components/hoc/PaginationHoc/tests/PaginationHoc.test.js
  lib/components/hoc/PaginationHoc/tests/__snapshots__/PaginationHoc.test.js.snap
  lib/components/hoc/PaginationHoc/types/index.js
  package-lock.json
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test
