Repository pagesource/atomic-react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

unused file
  lib/components/molecules/CookieDisclaimer/tests/__snapshots__/CookieDisclaimer.test.js.snap
Due: none

reslove test cases
  lib/components/atoms/Icon/tests/__snapshots__/Icon.test.js.snap
  lib/components/molecules/CookieDisclaimer/tests/__snapshots__/CookieDisclaimer.test.js.snap
Due: none

Fixed design and render props issue
  lib/components/molecules/Search/Search.js
  lib/components/molecules/Search/Search.mock.js
  lib/components/molecules/Search/Search.story.js
  lib/components/molecules/Search/Search.style.js
  lib/components/molecules/Search/types/index.js
  lib/components/molecules/Typeahead/Typeahead.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

fix: fixed implementation issue on search component
  lib/components/molecules/Search/Search.js
  lib/components/molecules/Search/Search.style.js
  lib/components/molecules/Search/SearchList/SearchList.js
  lib/components/molecules/Search/SearchList/SearchList.mock.js
  lib/components/molecules/Search/SearchList/SearchList.style.js
  lib/components/molecules/Search/SearchList/tests/SearchList.test.js
  lib/components/molecules/Search/SearchList/tests/__snapshots__/SearchList.test.js.snap
  lib/components/molecules/Search/SearchList/types/index.js
  lib/components/molecules/Search/types/index.js
  lib/components/molecules/Typeahead/types/index.js
  lib/core/hooks/speechRecognition/tests/useSpeechRecognition.test.js
  lib/core/hooks/speechRecognition/types/index.js
  lib/core/hooks/speechRecognition/useSpeechRecognition.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

fix: search component test cases
  .jest-test-results.json
  lib/components/molecules/Search/Search.style.js
  lib/components/molecules/Search/tests/__snapshots__/Search.test.js.snap
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

fix: search component style issue
  lib/components/molecules/Search/Search.style.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

fix: search component snapshot error
  .jest-test-results.json
  lib/components/molecules/Search/tests/__snapshots__/Search.test.js.snap
Due: prettier --write

feat: search component pr issue
  .jest-test-results.json
Due: prettier --write

fix: search component snapshot issue
  .jest-test-results.json
Due: prettier --write

fix: search component pr issue
  .jest-test-results.json
  lib/components/molecules/Search/Search.style.js
  lib/components/molecules/Search/tests/__snapshots__/Search.test.js.snap
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

fix: validate all command
  .jest-test-results.json
Due: prettier --write

fix: resolved push issue
  lib/components/molecules/Search/Search.mock.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

fix: working on conflict
  .huskyrc
  .jest-test-results.json
  lib/components/molecules/Search/Search.js
  lib/components/molecules/Search/Search.style.js
  lib/components/molecules/Search/SearchList/SearchList.js
  lib/components/molecules/Search/SearchList/SearchList.mock.js
  lib/components/molecules/Search/SearchList/SearchList.style.js
  lib/components/molecules/Search/SearchList/tests/SearchList.test.js
  lib/components/molecules/Search/SearchList/tests/__snapshots__/SearchList.test.js.snap
  lib/components/molecules/Search/SearchList/types/index.js
  lib/components/molecules/Search/tests/__snapshots__/Search.test.js.snap
  lib/components/molecules/Search/types/index.js
  lib/components/molecules/Typeahead/Typeahead.js
  lib/components/molecules/Typeahead/types/index.js
  lib/core/hooks/speechRecognition/tests/useSpeechRecognition.test.js
  lib/core/hooks/speechRecognition/types/index.js
  lib/core/hooks/speechRecognition/useSpeechRecognition.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

fix: fixed snapshot issue
  .jest-test-results.json
  lib/components/molecules/Search/tests/__snapshots__/Search.test.js.snap
Due: prettier --write

fix: fixed snapshot issue
  .jest-test-results.json
Due: prettier --write

fix: fixed pr comment issue
  .jest-test-results.json
  lib/components/molecules/Search/Search.js
  lib/components/molecules/Search/Search.mock.js
  lib/components/molecules/Search/Search.story.js
  lib/components/molecules/Search/Search.style.js
  lib/components/molecules/Search/index.js
  lib/components/molecules/Search/tests/Search.test.js
  lib/components/molecules/Search/tests/__snapshots__/Search.test.js.snap
  lib/components/molecules/Search/types/index.js
  lib/components/molecules/Typeahead/Typeahead.js
  lib/components/molecules/Typeahead/types/index.js
  lib/core/hooks/index.js
  lib/core/hooks/speechRecognition/tests/useSpeechRecognition.test.js
  lib/core/hooks/speechRecognition/types/index.js
  lib/core/hooks/speechRecognition/useSpeechRecognition.js
  lib/core/hooks/speechRecognition/useSpeechRecognition.mock.js
  lib/static/images/googlemic.png
  lib/static/images/search-loader.gif
  lib/static/images/search.svg
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

feat: sticky header
  .huskyrc
  .jest-test-results.json
  lib/components/molecules/StickyHeader/StickyHeader.js
  lib/components/molecules/StickyHeader/StickyHeader.mock.js
  lib/components/molecules/StickyHeader/StickyHeader.story.js
  lib/components/molecules/StickyHeader/StickyHeader.style.js
  lib/components/molecules/StickyHeader/index.js
  lib/components/molecules/StickyHeader/tests/StickyHeader.test.js
  lib/components/molecules/StickyHeader/tests/__snapshots__/StickyHeader.test.js.snap
  lib/components/molecules/StickyHeader/types/index.js
  lib/hooks/useScroll.js
  lib/index.js
  utils/util.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

fix: removed unused story.js files
  lib/components/atoms/Anchor/Anchor.story.js
  lib/components/atoms/Button/Button.story.js
  lib/components/atoms/FieldError/FieldError.story.js
  lib/components/atoms/Heading/Heading.story.js
  lib/components/atoms/Icon/Icon.stories.mdx
  lib/components/atoms/Icon/Icon.story.js
  lib/components/atoms/Image/Image.story.js
  lib/components/atoms/Input/Input.story.js
  lib/components/atoms/Label/Label.story.js
  lib/components/atoms/Para/Para.story.js
  lib/components/atoms/Select/Select.story.js
  lib/components/atoms/Tag/Tag.story.js
  lib/components/atoms/Textarea/Textarea.story.js
  lib/components/atoms/Track/Track.story.js
  lib/components/atoms/Video/Video.story.js
  lib/components/molecules/Accordion/Accordion.story.js
  lib/components/molecules/ArticleThumbnail/ArticleThumbnail.story.js
  lib/components/molecules/Blockquote/Blockquote.story.js
  lib/components/molecules/Breadcrumb/Breadcrumb.story.js
  lib/components/molecules/Carousel/Carousel.story.js
  lib/components/molecules/CookieDisclaimer/CookieDisclaimer.story.js
  lib/components/molecules/Form/Form.story.js
  lib/components/molecules/HeroBanner/HeroBanner.story.js
  lib/components/molecules/InputChoice/InputChoice.story.js
  lib/components/molecules/List/List.story.js
  lib/components/molecules/Modal/Modal.story.js
  lib/components/molecules/Pagination/Pagination.story.js
  lib/components/molecules/Popover/Popover.story.js
  lib/components/molecules/ProgressIndicator/ProgressIndicator.story.js
  lib/components/molecules/QuoteMedia/QuoteMedia.stories.mdx
  lib/components/molecules/QuoteMedia/QuoteMedia.story.js
  lib/components/molecules/Skeleton/Skeleton.stories.mdx
  lib/components/molecules/Skeleton/Skeleton.story.js
  lib/components/molecules/StickyBar/StickyBar.story.js
  lib/components/molecules/Table/Table.story.js
  lib/components/molecules/Tabs/Tabs.story.js
  lib/components/molecules/Toast/Toast.story.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

fix: add mdx file for stories
  lib/components/molecules/Search/Search.stories.mdx
Due: none

fix: resolved pr issue
  .jest-test-results.json
  lib/components/molecules/Search/Search.stories.mdx
  lib/components/molecules/Search/Search.story.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

fix(flow-error): react-hook-form
  lib/components/atoms/Input/Input.js
  lib/components/atoms/Label/Label.story.js
  lib/components/atoms/Select/Select.js
  lib/components/atoms/Textarea/Textarea.js
  lib/components/molecules/Form/DragDropInput/DragDropInput.js
  lib/components/molecules/Form/DragDropInput/types/index.js
  lib/components/molecules/Form/FieldCheckbox/FieldCheckbox.js
  lib/components/molecules/Form/FieldFileInput/FieldFileInput.js
  lib/components/molecules/Form/FieldFileInput/types/index.js
  lib/components/molecules/Form/FieldInput/FieldInput.js
  lib/components/molecules/Form/FieldRadioGroup/FieldRadioGroup.js
  lib/components/molecules/Form/FieldSelect/FieldSelect.js
  lib/components/molecules/Form/FieldTextarea/FieldTextarea.js
  lib/components/molecules/Form/FieldTextarea/FieldTextarea.mock.js
  lib/components/molecules/Form/FieldTextarea/FieldTextarea.story.js
  lib/components/molecules/Form/FieldToggle/FieldToggle.js
  lib/components/molecules/Form/FieldToggle/types/index.js
  lib/components/molecules/Form/Form.js
  lib/components/molecules/Form/Form.mock.js
  lib/components/molecules/InputChoice/InputChoice.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

fix(test-case): react hookform
  lib/components/atoms/Input/tests/Input.test.js
  lib/components/atoms/Input/tests/__snapshots__/Input.test.js.snap
  lib/components/atoms/Textarea/tests/__snapshots__/Textarea.style.test.js.snap
  lib/components/molecules/InputChoice/tests/__snapshots__/InputChoice.test.js.snap
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

feat: replace story.js with stories.mdx
  lib/components/molecules/StickyHeader/StickyHeader.stories.mdx
Due: none

fix: add icons and tokens folder to es build distribution
  scripts/build.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

fix: export GlobalStyles as component
  lib/index.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

docs: update readme file
  README.md
Due: prettier --write

fix: copy icons and tokens for commonjs as well
  lib/index.js
  scripts/build.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

fix(conflicts): conflicts resolved
  yarn.lock
Due: none

fix(update): test cases
  .jest-test-results.json
Due: prettier --write

fix: linting issues
  .gitignore
  .jest-test-results.json
  lib/components/atoms/Video/Video.js
  lib/components/atoms/Video/Video.stories.mdx
  lib/components/atoms/Video/tests/Video.test.js
  lib/components/molecules/Accordion/Accordion.js
  lib/components/molecules/Accordion/Accordion.stories.mdx
  lib/components/molecules/Accordion/tests/Accordion.test.js
  lib/components/molecules/Form/FieldInput/tests/__snapshots__/FieldInput.test.js.snap
  lib/components/molecules/Form/FieldTextarea/tests/__snapshots__/FieldTextarea.test.js.snap
  lib/components/molecules/Form/tests/__snapshots__/Form.test.js.snap
  lib/components/molecules/Skeleton/Skeleton.js
  lib/components/molecules/Skeleton/Skeleton.stories.mdx
  lib/components/molecules/Skeleton/tests/Skeleton.test.js
  lib/components/molecules/Tabs/TabPanel/TabPanel.js
  package-lock.json
  yarn.lock
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

fix: reduce test coverage thresh for testing lerna
  .travis.yml
  config/jest.config.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

fix: accordion as a group
  lib/components/molecules/Accordion/Accordion.js
  lib/components/molecules/Accordion/Accordion.stories.mdx
  lib/components/molecules/Accordion/Accordion.style.js
  lib/components/molecules/Accordion/tests/Accordion.test.js
  lib/components/molecules/Accordion/tests/__snapshots__/Accordion.test.js.snap
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

Path conditions:
  prettier --write: any of: *.{js,json,css,md}
  yarn run lint:css:fix: (any of: *.css) or (any of: *.js)
  yarn run lint:js:fix: any of: *.js
  yarn run test: any of: *.test.js
