Repository pagesource/atomic-react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

.lintstagedrc:

{
  "*.{js,json,css,md}":[
    "prettier --write",
    "git add",
  ],
  "*.css": [
    "yarn run lint:css:fix",
  ],
  "*.js": [
    "yarn run lint:css:fix",
    "yarn run lint:js:fix"
  ],
  "*.test.js": [
    "yarn run test",
  ],
}

File-Upload: Removed errors to enable build pass - 9.
  lib/components/atoms/Heading/tests/Heading.test.js
  lib/components/molecules/ArticleThumbnail/tests/ArticleThumbnail.test.js
  lib/components/molecules/ArticleThumbnail/tests/__snapshots__/ArticleThumbnail.test.js.snap
  lib/components/molecules/Tabs/tests/Tabs.test.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

launch json add
  .jest-test-results.json
  .vscode/launch.json
Due: prettier --write

accessibility
  .eslintrc
  .jest-test-results.json
  lib/components/atoms/Track/Track.js
  lib/components/atoms/Track/Track.mock.js
  lib/components/atoms/Track/Track.story.js
  lib/components/atoms/Track/Track.style.js
  lib/components/atoms/Track/index.js
  lib/components/atoms/Track/tests/Track.test.js
  lib/components/atoms/Track/tests/__snapshots__/Track.test.js.snap
  lib/components/atoms/Track/types/index.js
  lib/components/atoms/Video/Video.js
  lib/components/atoms/Video/Video.mock.js
  lib/components/atoms/Video/Video.story.js
  lib/components/atoms/Video/types/index.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

File-Upload: Removed errors to enable build pass - 9.
  lib/components/atoms/FileInput/tests/FileInput.test.js
  lib/components/atoms/FileInput/tests/__snapshots__/FileInput.test.js.snap
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

added uparrow, downarrow and enter to select the suggestion
  lib/components/molecules/Typeahead/Typeahead.js
  lib/components/molecules/Typeahead/Typeahead.story.js
  lib/components/molecules/Typeahead/Typeahead.style.js
  lib/components/molecules/Typeahead/constants.js
  lib/components/molecules/Typeahead/tests/__snapshots__/Typeahead.test.js.snap
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

File-Upload: Removed errors to enable build pass - 9.
  lib/components/atoms/FileInput/tests/FileInput.test.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

File-Upload: Removed errors to enable build pass - 10.
  lib/components/atoms/FileInput/tests/FileInput.test.js
  lib/components/atoms/FileInput/tests/__snapshots__/FileInput.test.js.snap
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

launch
  .jest-test-results.json
  .storybook/config.js
  .vscode/launch.json
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

File-Upload: Removed errors to enable build pass - 11.
  lib/components/molecules/Form/DDFileInput/tests/DDFileInput.test.js
  lib/components/molecules/Form/DDFileInput/tests/__snapshots__/DDFileInput.test.js.snap
  lib/components/molecules/Form/FieldFileInput/tests/FieldFileInput.test.js
  lib/components/molecules/Form/FieldFileInput/tests/__snapshots__/FieldFileInput.test.js.snap
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

File-Upload: Removed errors to enable build pass - 12.
  lib/components/molecules/Form/DDFileInput/tests/DDFileInput.test.js
  lib/components/molecules/Form/FieldFileInput/tests/FieldFileInput.test.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

File-Upload: Removed errors to enable build pass - 11.
  lib/components/molecules/Form/FieldFileInput/tests/FieldFileInput.test.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

added inheritedStyle in default props
  lib/components/molecules/Typeahead/Typeahead.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

added some test cases and renamed handler functions
  lib/components/molecules/Typeahead/Typeahead.js
  lib/components/molecules/Typeahead/Typeahead.story.js
  lib/components/molecules/Typeahead/tests/Typeahead.test.js
  lib/components/molecules/Typeahead/tests/__snapshots__/Typeahead.test.js.snap
  lib/components/molecules/Typeahead/types/index.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

updated list width and used switch case to handle key events
  lib/components/molecules/Typeahead/Typeahead.js
  lib/components/molecules/Typeahead/Typeahead.style.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

completed working removed extra code
  lib/components/molecules/Typeahead/Typeahead.js
  lib/components/molecules/Typeahead/Typeahead.story.js
  lib/components/molecules/Typeahead/constants.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

video atom
  lib/components/atoms/Track/Track.js
  lib/components/atoms/Track/Track.mock.js
  lib/components/atoms/Track/Track.story.js
  lib/components/atoms/Track/Track.style.js
  lib/components/atoms/Track/index.js
  lib/components/atoms/Track/tests/Track.test.js
  lib/components/atoms/Track/types/index.js
  lib/components/atoms/Video/Video.js
  lib/components/atoms/Video/Video.mock.js
  lib/components/atoms/Video/Video.story.js
  lib/components/atoms/Video/Video.style.js
  lib/components/atoms/Video/index.js
  lib/components/atoms/Video/tests/Video.test.js
  lib/components/atoms/Video/types/index.js
  package-lock.json
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

addes some more tests
  lib/components/molecules/Typeahead/Typeahead.js
  lib/components/molecules/Typeahead/Typeahead.mock.js
  lib/components/molecules/Typeahead/Typeahead.style.js
  lib/components/molecules/Typeahead/constants.js
  lib/components/molecules/Typeahead/tests/Typeahead.test.js
  lib/components/molecules/Typeahead/tests/__snapshots__/Typeahead.test.js.snap
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

review comments fixed
  lib/components/atoms/Blockquote/Blockquote.js
  lib/components/atoms/Blockquote/Blockquote.mock.js
  lib/components/atoms/Blockquote/Blockquote.story.js
  lib/components/atoms/Blockquote/Blockquote.style.js
  lib/components/atoms/Blockquote/tests/Blockquote.test.js
  lib/components/atoms/Blockquote/tests/__snapshots__/Blockquote.test.js.snap
  lib/components/atoms/Blockquote/types/index.js
  lib/components/atoms/Button/tests/__snapshots__/Button.style.test.js.snap
  lib/components/atoms/Image/tests/__snapshots__/Image.style.test.js.snap
  lib/components/atoms/Input/tests/__snapshots__/Input.style.test.js.snap
  lib/components/atoms/Select/tests/__snapshots__/Select.style.test.js.snap
  lib/components/atoms/Textarea/tests/__snapshots__/Textarea.style.test.js.snap
  lib/components/molecules/Form/FieldInput/tests/__snapshots__/FieldInput.test.js.snap
  lib/components/molecules/Form/FieldSelect/tests/__snapshots__/FieldSelect.test.js.snap
  lib/components/molecules/Form/FieldTextarea/tests/__snapshots__/FieldTextarea.test.js.snap
  lib/components/molecules/Form/tests/__snapshots__/Form.test.js.snap
  lib/components/molecules/QuoteMedia/QuoteMedia.js
  lib/components/molecules/QuoteMedia/QuoteMedia.mock.js
  lib/components/molecules/QuoteMedia/QuoteMedia.story.js
  lib/components/molecules/QuoteMedia/tests/QuoteMedia.test.js
  lib/components/molecules/QuoteMedia/tests/__snapshots__/QuoteMedia.test.js.snap
  lib/components/molecules/QuoteMedia/types/index.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

add accessibility
  lib/components/molecules/Table/Table.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

add accessibility
  .jest-test-results.json
  lib/components/molecules/Table/tests/__snapshots__/Table.test.js.snap
Due: prettier --write

File-Upload: Removed errors to enable build pass - 12.
  config/jest.config.js
  lib/components/molecules/ArticleThumbnail/tests/ArticleThumbnail.test.js
  lib/components/molecules/ArticleThumbnail/tests/__snapshots__/ArticleThumbnail.test.js.snap
  lib/components/molecules/List/List.story.js
  lib/components/molecules/Tabs/tests/Tabs.test.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

review comments fixed
  lib/components/atoms/Blockquote/Blockquote.js
  lib/components/atoms/Blockquote/Blockquote.mock.js
  lib/components/atoms/Blockquote/Blockquote.style.js
  lib/components/atoms/Button/tests/__snapshots__/Button.style.test.js.snap
  lib/components/atoms/Input/tests/__snapshots__/Input.style.test.js.snap
  lib/components/atoms/Select/tests/__snapshots__/Select.style.test.js.snap
  lib/components/atoms/Textarea/tests/__snapshots__/Textarea.style.test.js.snap
  lib/components/molecules/QuoteMedia/QuoteMedia.js
  lib/components/molecules/QuoteMedia/QuoteMedia.mock.js
  lib/components/molecules/QuoteMedia/tests/__snapshots__/QuoteMedia.test.js.snap
  lib/styles/themes/base/def/typography.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

added typeahead component
  lib/components/molecules/Typeahead/ListItem.js
  lib/components/molecules/Typeahead/Typeahead.js
  lib/components/molecules/Typeahead/Typeahead.mock.js
  lib/components/molecules/Typeahead/Typeahead.story.js
  lib/components/molecules/Typeahead/Typeahead.style.js
  lib/components/molecules/Typeahead/constants.js
  lib/components/molecules/Typeahead/index.js
  lib/components/molecules/Typeahead/tests/Typeahead.test.js
  lib/components/molecules/Typeahead/tests/__snapshots__/Typeahead.test.js.snap
  lib/components/molecules/Typeahead/types/index.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

pagination changes
  .jest-test-results.json
  lib/components/atoms/Pagination/Pagination.js
  lib/components/atoms/Pagination/Pagination.style.js
  lib/components/atoms/Pagination/tests/Pagination.test.js
  lib/components/atoms/Pagination/tests/__snapshots__/Pagination.test.js.snap
  lib/components/hoc/PaginationHoc/PaginationHoc.js
  lib/components/molecules/Form/FieldInput/tests/__snapshots__/FieldInput.test.js.snap
  lib/components/molecules/Form/FieldSelect/tests/__snapshots__/FieldSelect.test.js.snap
  lib/components/molecules/Form/FieldTextarea/tests/__snapshots__/FieldTextarea.test.js.snap
  lib/components/molecules/Form/tests/__snapshots__/Form.test.js.snap
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

File-Upload: Removed errors to enable build pass - 13.
  lib/components/atoms/Anchor/Anchor.js
  lib/components/molecules/ArticleThumbnail/ArticleThumbnail.js
  lib/components/molecules/ArticleThumbnail/tests/__snapshots__/ArticleThumbnail.test.js.snap
  lib/components/molecules/Form/DDFileInput/tests/__snapshots__/DDFileInput.test.js.snap
  lib/components/molecules/Form/FieldFileInput/tests/__snapshots__/FieldFileInput.test.js.snap
  lib/components/molecules/Form/FieldInput/tests/FieldInput.test.js
  lib/components/molecules/Form/FieldInput/tests/__snapshots__/FieldInput.test.js.snap
  lib/components/molecules/Form/FieldSelect/tests/__snapshots__/FieldSelect.test.js.snap
  lib/components/molecules/Form/FieldTextarea/tests/__snapshots__/FieldTextarea.test.js.snap
  lib/components/molecules/Form/tests/__snapshots__/Form.test.js.snap
  lib/components/molecules/List/List.js
  lib/components/molecules/List/tests/__snapshots__/List.test.js.snap
  lib/components/molecules/Tabs/Tab/Tab.js
  lib/components/molecules/Tabs/Tab/tests/__snapshots__/Tab.test.js.snap
  lib/components/molecules/Tabs/Tabs.js
  lib/components/molecules/Tabs/tests/__snapshots__/Tabs.test.js.snap
  package-lock.json
  package.json
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

File-Upload: Removed errors to enable build pass - 14.
  lib/components/atoms/Label/Label.js
  lib/components/molecules/Form/DDFileInput/DDFileInput.js
  lib/components/molecules/Form/DDFileInput/tests/__snapshots__/DDFileInput.test.js.snap
  lib/components/molecules/Form/FieldFileInput/FieldFileInput.js
  lib/components/molecules/Form/FieldFileInput/FieldFileInput.style.js
  lib/components/molecules/Form/FieldFileInput/tests/__snapshots__/FieldFileInput.test.js.snap
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

added linting fixes
  .jest-test-results.json
  lib/components/atoms/Pagination/Pagination.js
  lib/components/atoms/Pagination/Pagination.style.js
  lib/components/atoms/Pagination/tests/Pagination.test.js
  lib/components/atoms/Pagination/tests/__snapshots__/Pagination.test.js.snap
  lib/components/hoc/PaginationHoc/PaginationHoc.js
  lib/components/hoc/PaginationHoc/tests/PaginationHoc.test.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

added listitem style in border
  lib/styles/themes/base/def/border.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

'DateSelector'
  lib/components/molecules/DateSelector/DateSelector.js
  lib/components/molecules/DateSelector/DateSelector.mock.js
  lib/components/molecules/DateSelector/DateSelector.story.js
  lib/components/molecules/DateSelector/DateSelector.style.js
  lib/components/molecules/DateSelector/index.js
  lib/components/molecules/DateSelector/tests/DateSelector.test.js
  lib/components/molecules/DateSelector/tests/__snapshots__/DateSelector.test.js.snap
  lib/components/molecules/DateSelector/types/index.js
  lib/index.js
  stylelint.config.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

'DateSelector'
  lib/components/molecules/DateSelector/DateSelector.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

'DateSelector'
  lib/components/atoms/Select/Select.js
  lib/components/molecules/DateSelector/DateSelector.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

merge conflict
  .gitignore
  .jest-test-results.json
  lib/components/molecules/StickyBar/tests/__snapshots__/StickyBar.test.js.snap
Due: prettier --write

linting fixes
  .jest-test-results.json
  lib/components/atoms/Button/tests/__snapshots__/Button.style.test.js.snap
  lib/components/atoms/Image/tests/__snapshots__/Image.style.test.js.snap
  lib/components/atoms/Input/tests/__snapshots__/Input.style.test.js.snap
  lib/components/atoms/Pagination/tests/__snapshots__/Pagination.test.js.snap
  lib/components/atoms/Textarea/tests/__snapshots__/Textarea.style.test.js.snap
  lib/components/hoc/PaginationHoc/tests/__snapshots__/PaginationHoc.test.js.snap
  lib/components/molecules/Form/FieldInput/tests/FieldInput.test.js
  lib/components/molecules/Form/FieldInput/tests/__snapshots__/FieldInput.test.js.snap
  lib/components/molecules/Form/FieldSelect/tests/__snapshots__/FieldSelect.test.js.snap
  lib/components/molecules/Form/FieldTextarea/tests/__snapshots__/FieldTextarea.test.js.snap
  lib/components/molecules/Form/tests/__snapshots__/Form.test.js.snap
  package-lock.json
  package.json
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

review comments fixed
  lib/components/molecules/QuoteMedia/QuoteMedia.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

'DateSelector'
  lib/components/atoms/Select/tests/__snapshots__/Select.style.test.js.snap
  lib/components/atoms/Select/tests/__snapshots__/Select.test.js.snap
  lib/components/molecules/DateSelector/tests/__snapshots__/DateSelector.test.js.snap
Due: none

test result json updated
  .jest-test-results.json
Due: prettier --write

atom video design with better code structure
  .jest-test-results.json
  lib/components/atoms/Anchor/Anchor.js
  lib/components/atoms/Button/tests/__snapshots__/Button.style.test.js.snap
  lib/components/atoms/Heading/tests/Heading.test.js
  lib/components/atoms/Image/tests/__snapshots__/Image.style.test.js.snap
  lib/components/atoms/Input/tests/__snapshots__/Input.style.test.js.snap
  lib/components/atoms/Textarea/tests/__snapshots__/Textarea.style.test.js.snap
  lib/components/atoms/Track/Track.js
  lib/components/atoms/Track/Track.story.js
  lib/components/atoms/Track/tests/__snapshots__/Track.test.js.snap
  lib/components/atoms/Track/types/index.js
  lib/components/atoms/Video/Video.js
  lib/components/atoms/Video/tests/Video.test.js
  lib/components/atoms/Video/tests/__snapshots__/Video.test.js.snap
  lib/components/atoms/Video/types/index.js
  lib/components/molecules/ArticleThumbnail/ArticleThumbnail.js
  lib/components/molecules/ArticleThumbnail/tests/__snapshots__/ArticleThumbnail.test.js.snap
  lib/components/molecules/Form/FieldInput/tests/__snapshots__/FieldInput.test.js.snap
  lib/components/molecules/Form/FieldSelect/tests/__snapshots__/FieldSelect.test.js.snap
  lib/components/molecules/Form/FieldTextarea/tests/__snapshots__/FieldTextarea.test.js.snap
  lib/components/molecules/List/List.js
  lib/components/molecules/List/tests/__snapshots__/List.test.js.snap
  lib/components/molecules/Tabs/Tab/Tab.js
  lib/components/molecules/Tabs/Tab/tests/__snapshots__/Tab.test.js.snap
  lib/components/molecules/Tabs/TabPanel/TabPanel.js
  lib/components/molecules/Tabs/TabPanel/tests/__snapshots__/TabPanel.test.js.snap
  lib/components/molecules/Tabs/Tabs.js
  lib/components/molecules/Tabs/tests/__snapshots__/Tabs.test.js.snap
  stylelint.config.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test
