Repository pagesource/atomic-react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

.lintstagedrc:

{
  "*.{js,json,css,md}":[
    "prettier --write",
    "git add",
  ],
  "*.css": [
    "yarn run lint:css:fix",
  ],
  "*.js": [
    "yarn run lint:css:fix",
    "yarn run lint:js:fix"
  ],
  "*.test.js": [
    "yarn run test",
  ],
}

File-Upload: Review comments implementation.
  lib/components/molecules/Form/DragDropInput/tests/DragDropInput.test.js
  lib/components/molecules/Form/DragDropInput/tests/__snapshots__/DragDropInput.test.js.snap
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

File-Upload: Review comments implementation.
  lib/components/molecules/Form/FieldCheckbox/tests/FieldCheckbox.test.js
  lib/components/molecules/Form/FieldCheckbox/tests/__snapshots__/FieldCheckBox.test.js.snap
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

Updated Snapshots
  lib/components/atoms/Button/tests/__snapshots__/Button.style.test.js.snap
  lib/components/atoms/Input/tests/__snapshots__/Input.style.test.js.snap
  lib/components/atoms/Select/tests/__snapshots__/Select.style.test.js.snap
  lib/components/atoms/Textarea/tests/__snapshots__/Textarea.style.test.js.snap
Due: none

implemented review comments
  lib/components/molecules/Typeahead/Typeahead.js
  lib/components/molecules/Typeahead/Typeahead.story.js
  lib/components/molecules/Typeahead/Typeahead.style.js
  lib/components/molecules/Typeahead/types/index.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

add cell props and rename props to tableprops
  .jest-test-results.json
  lib/components/molecules/Table/Table.js
  lib/components/molecules/Table/tests/__snapshots__/Table.test.js.snap
  lib/components/molecules/Table/types/index.js
  yarn.lock
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

yarn lock file
  yarn.lock
Due: none

Review comments implemented
  .jest-test-results.json
  lib/components/molecules/Form/FieldInput/tests/__snapshots__/FieldInput.test.js.snap
  lib/components/molecules/Form/FieldSelect/tests/__snapshots__/FieldSelect.test.js.snap
  lib/components/molecules/Form/FieldTextarea/tests/__snapshots__/FieldTextarea.test.js.snap
  lib/components/molecules/Form/tests/__snapshots__/Form.test.js.snap
  lib/components/molecules/StickyHeader/StickyHeader.js
  lib/components/molecules/StickyHeader/tests/StickyHeader.test.js
  lib/components/molecules/StickyHeader/tests/__snapshots__/StickyHeader.test.js.snap
  package.json
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

updated review comments
  lib/components/molecules/Typeahead/Typeahead.js
  lib/components/molecules/Typeahead/Typeahead.story.js
  lib/components/molecules/Typeahead/Typeahead.style.js
  lib/components/molecules/Typeahead/tests/Typeahead.test.js
  lib/styles/themes/base/def/border.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

fixed function typeof check
  lib/components/molecules/Typeahead/Typeahead.js
  lib/components/molecules/Typeahead/Typeahead.story.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

removed default function props with null
  lib/components/molecules/Typeahead/Typeahead.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

updated snapshots
  lib/components/molecules/Typeahead/tests/__snapshots__/Typeahead.test.js.snap
Due: none

updated snapshots
  lib/components/atoms/Button/tests/__snapshots__/Button.style.test.js.snap
  lib/components/atoms/Input/tests/__snapshots__/Input.style.test.js.snap
  lib/components/atoms/Select/tests/__snapshots__/Select.style.test.js.snap
  lib/components/atoms/Textarea/tests/__snapshots__/Textarea.style.test.js.snap
Due: none

updated snapshots
  lib/components/atoms/Button/tests/__snapshots__/Button.style.test.js.snap
  lib/components/atoms/Input/tests/__snapshots__/Input.style.test.js.snap
  lib/components/atoms/Textarea/tests/__snapshots__/Textarea.style.test.js.snap
Due: none

first client side git hook
  .githooks/firstCommit.sh
Due: none

updated component to have accessibility support
  lib/components/molecules/Typeahead/ListItem.js
  lib/components/molecules/Typeahead/Typeahead.js
  lib/components/molecules/Typeahead/tests/__snapshots__/Typeahead.test.js.snap
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

Exported Table Component out of Lib
  lib/index.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

added typeahead entry in main export index.js file
  lib/index.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

Review Changes Incorporated
  .jest-test-results.json
  lib/components/molecules/Form/FieldToggle/FieldToggle.js
  lib/components/molecules/Form/FieldToggle/tests/FieldToggle.test.js
  lib/components/molecules/Form/FieldToggle/types/index.js
  lib/components/molecules/Form/Form.mock.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

Fix Review Comments
  lib/components/atoms/Button/Button.js
  lib/components/atoms/Button/Button.style.js
  lib/components/atoms/Button/tests/__snapshots__/Button.style.test.js.snap
  lib/components/atoms/Button/tests/__snapshots__/Button.test.js.snap
  lib/components/atoms/Input/tests/__snapshots__/Input.style.test.js.snap
  lib/components/atoms/Select/tests/__snapshots__/Select.style.test.js.snap
  lib/components/atoms/Tag/Tag.js
  lib/components/atoms/Tag/Tag.story.js
  lib/components/atoms/Tag/Tag.style.js
  lib/components/atoms/Tag/tests/Tag.test.js
  lib/components/atoms/Tag/tests/__snapshots__/Tag.test.js.snap
  lib/components/atoms/Tag/types/index.js
  lib/components/atoms/Textarea/tests/__snapshots__/Textarea.style.test.js.snap
  lib/styles/themes/base/def/colors.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

updated typeahead component to support intial instructions for accessibility
  lib/components/molecules/Typeahead/Typeahead.js
  lib/components/molecules/Typeahead/Typeahead.mock.js
  lib/components/molecules/Typeahead/Typeahead.story.js
  lib/components/molecules/Typeahead/tests/Typeahead.test.js
  lib/components/molecules/Typeahead/tests/__snapshots__/Typeahead.test.js.snap
  lib/components/molecules/Typeahead/types/index.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

fixed spelling and case issue
  lib/components/molecules/Typeahead/Typeahead.js
  lib/components/molecules/Typeahead/types/index.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

Cookie Disclaimer (WIP): Styled Components Checked in
  lib/components/molecules/CookieDisclaimer/CookieDisclaimer.js
  lib/components/molecules/CookieDisclaimer/CookieDisclaimer.mock.js
  lib/components/molecules/CookieDisclaimer/tests/CookieDisclaimer.test.js
  lib/components/molecules/CookieDisclaimer/types/index.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

Added DateSelector to Form as a field
  lib/components/atoms/Select/tests/__snapshots__/Select.test.js.snap
  lib/components/molecules/DateSelector/DateSelector.js
  lib/components/molecules/DateSelector/DateSelector.mock.js
  lib/components/molecules/DateSelector/DateSelector.story.js
  lib/components/molecules/DateSelector/index.js
  lib/components/molecules/DateSelector/tests/DateSelector.test.js
  lib/components/molecules/Form/FieldDateSelector/FieldDateSelector.js
  lib/components/molecules/Form/FieldDateSelector/FieldDateSelector.style.js
  lib/components/molecules/Form/FieldDateSelector/index.js
  lib/components/molecules/Form/FieldDateSelector/tests/FieldDateSelector.test.js
  lib/components/molecules/Form/FieldDateSelector/tests/__snapshots__/FieldDateSelector.test.js.snap
  lib/components/molecules/Form/FieldDateSelector/types/index.js
  lib/components/molecules/Form/Form.js
  lib/components/molecules/Form/Form.mock.js
  lib/components/molecules/Form/Form.story.js
  lib/components/molecules/Form/tests/Form.test.js
  lib/components/molecules/Form/tests/__snapshots__/Form.test.js.snap
  lib/index.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

Cookie Disclaimer (WIP): Styled Components Checked in
  lib/components/molecules/CookieDisclaimer/CookieDisclaimer.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

CSS fixes
  .jest-test-results.json
  lib/components/molecules/Form/FieldToggle/FieldToggle.style.js
  lib/styles/themes/base/def/colors.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

Toast-IconDependency Resolved
  config/jest.config.js
  lib/components/molecules/Toast/Toast.js
  lib/components/molecules/Toast/Toast.story.js
  lib/components/molecules/Toast/Toast.style.js
  lib/styles/themes/base/def/icons.js
  lib/styles/themes/base/icons/close.svg
  lib/styles/themes/base/icons/error.svg
  lib/styles/themes/base/icons/info.svg
  lib/styles/themes/base/icons/success.svg
  lib/styles/themes/base/icons/warning.svg
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

test added for window event listener added and removed
  lib/components/molecules/StickyHeader/StickyHeader.js
  lib/components/molecules/StickyHeader/tests/StickyHeader.test.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

refactored the pagination component
  lib/components/hoc/PaginationHoc/PaginationHoc.js
  lib/components/hoc/PaginationHoc/PaginationHoc.mock.js
  lib/components/hoc/PaginationHoc/PaginationHoc.story.js
  lib/components/hoc/PaginationHoc/PaginationHoc.style.js
  lib/components/hoc/PaginationHoc/index.js
  lib/components/hoc/PaginationHoc/tests/PaginationHoc.test.js
  lib/components/hoc/PaginationHoc/tests/__snapshots__/PaginationHoc.test.js.snap
  lib/components/hoc/PaginationHoc/types/index.js
  lib/components/molecules/Pagination/Pagination.js
  lib/components/molecules/Pagination/Pagination.mock.js
  lib/components/molecules/Pagination/Pagination.story.js
  lib/components/molecules/Pagination/Pagination.style.js
  lib/components/molecules/Pagination/PaginationList.js
  lib/components/molecules/Pagination/types/index.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

Review comments implemented
  lib/components/molecules/StickyHeader/StickyHeader.js
  lib/components/molecules/StickyHeader/StickyHeader.story.js
  lib/components/molecules/StickyHeader/StickyHeader.style.js
  lib/components/molecules/StickyHeader/index.js
  lib/components/molecules/StickyHeader/tests/StickyHeader.test.js
  lib/components/molecules/StickyHeader/tests/__snapshots__/StickyHeader.test.js.snap
  lib/components/molecules/StickyHeader/types/index.js
  lib/index.js
  utils/util.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

Created a category of Table component in storybook
  lib/components/molecules/Table/Table.story.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

Test permission issue.
  .jest-test-results.json
Due: prettier --write

fixed the demo page
  lib/components/molecules/StickyHeader/StickyHeader.story.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

Fix review comments: Role for Tag, Remove icon background transparent
  lib/components/atoms/Button/tests/__snapshots__/Button.style.test.js.snap
  lib/components/atoms/Input/tests/__snapshots__/Input.style.test.js.snap
  lib/components/atoms/Select/tests/__snapshots__/Select.style.test.js.snap
  lib/components/atoms/Tag/Tag.js
  lib/components/atoms/Tag/tests/Tag.test.js
  lib/components/atoms/Tag/tests/__snapshots__/Tag.test.js.snap
  lib/components/atoms/Textarea/tests/__snapshots__/Textarea.style.test.js.snap
  lib/styles/themes/base/def/colors.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

Exported Tag out of the Lib
  lib/index.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

Cookie Disclaimer (WIP): Styled Components Checked in
  .jest-test-results.json
  lib/components/atoms/Button/tests/__snapshots__/Button.style.test.js.snap
  lib/components/atoms/Input/tests/__snapshots__/Input.style.test.js.snap
  lib/components/atoms/Select/tests/__snapshots__/Select.style.test.js.snap
  lib/components/atoms/Textarea/tests/__snapshots__/Textarea.style.test.js.snap
  lib/components/molecules/CookieDisclaimer/CookieDisclaimer.js
  lib/components/molecules/CookieDisclaimer/CookieDisclaimer.mock.js
  lib/components/molecules/CookieDisclaimer/CookieDisclaimer.style.js
  lib/components/molecules/CookieDisclaimer/tests/CookieDisclaimer.test.js
  lib/components/molecules/CookieDisclaimer/tests/__snapshots__/CookieDisclaimer.test.js.snap
  lib/components/molecules/CookieDisclaimer/types/index.js
  lib/hooks/useCookieDrop.js
  lib/styles/themes/base/def/animations.js
  lib/styles/themes/base/tokens/animations.css
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

Hotfix (Icon Config): Fixed the icon component
  .jest-test-results.json
  config/dist.webpack.config.js
  config/jest.config.js
  lib/components/atoms/Button/tests/__snapshots__/Button.style.test.js.snap
  lib/components/atoms/Icon/Icon.mock.js
  lib/components/atoms/Icon/Icon.story.js
  lib/components/atoms/Input/tests/__snapshots__/Input.style.test.js.snap
  lib/components/atoms/Select/tests/__snapshots__/Select.style.test.js.snap
  lib/components/atoms/Textarea/tests/__snapshots__/Textarea.style.test.js.snap
  lib/styles/themes/base/def/icons.js
  lib/styles/themes/base/icons/close-black.svg
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

Merge from develop
  lib/components/molecules/Form/Form.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix

Hero Banner Component
  .jest-test-results.json
  lib/components/molecules/HeroBanner/HeroBanner.js
  lib/components/molecules/HeroBanner/HeroBanner.mock.js
  lib/components/molecules/HeroBanner/HeroBanner.story.js
  lib/components/molecules/HeroBanner/HeroBanner.style.js
  lib/components/molecules/HeroBanner/index.js
  lib/components/molecules/HeroBanner/tests/HeroBanner.test.js
  lib/components/molecules/HeroBanner/tests/__snapshots__/HeroBanner.test.js.snap
  lib/components/molecules/HeroBanner/types/index.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix, yarn run test

Accordion review comments incorporated
  lib/components/molecules/Accordion/Accordion.js
  lib/components/molecules/Accordion/Accordion.style.js
Due: prettier --write, yarn run lint:css:fix, yarn run lint:js:fix
